
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    position: absolute;
    top: 120px;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}



:root {
  --main-border-colour: #ddd;
  --primary-background-colour: #f8f8f8;
  --secondary-background-colour: #ececec;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--primary-background-colour);
}

.navbar-default {
  background-color: var(--secondary-background-colour);
  border-bottom: 1px solid var(--main-border-colour);
}

.CodeMirror {
  background-color: var(--primary-background-colour);
  min-height: 100%;
}

.CodeMirror-gutters {
  background-color: var(--secondary-background-colour);
}

.navbar {
  margin-bottom: 0px;
}

.navbar-brand {
  font-family: monospace;
}

#sourceEditor {
  border-bottom: 1px solid var(--main-border-colour);
  min-height: 400px;
  height: 60%;
}

#selectLanguageBtn {
  max-width: 220px;
}

#inputLabel {
  border-right: 1px solid var(--main-border-colour);
}

#inputEditor, #outputEditor {
  min-height: 300px;
  height: 40%;
}

#inputEditor {
  border-right: 1px solid var(--main-border-colour);
  padding-left: 0px;
}

#runBtn {
  width: 100px;
}

#footer {
  border-top: 1px solid var(--main-border-colour);
  padding-top: 40px;
  text-align: center;
  min-height: 50px;
  color: #777;
}
#testcasesdiv
{  border-top: 1px solid var(--secondary-background-colour);
   border-bottom: 1px solid var(--main-border-colour);
   padding-top: 10px;
   padding-bottom: 10px;
   text-align: center;
   min-height: 40px;
   color: #777;
   background-color: var(--secondary-background-colour);


}
.testbox{
     border-top: 1px solid var(--secondary-background-colour);
     border-bottom: 1px solid var(--main-border-colour);
     border-right: 4px solid var(--primary-background-colour);
     padding-top: 1px;
     padding-bottom: 1px;
     padding-left: 2px;
     min-height: 10px;
     color: #777;
     width:175px;
     float: left;
     background-color: var(--secondary-background-colour);

}


[hover-desc] {
  position: relative;
  display: inline-block;
  white-space: pre-line;
}
[hover-desc]:before, [hover-desc]:after {
  display: block;
  position: absolute;
  left: 50%;
  visibility: hidden;
  -moz-transition: margin-top 0.3s;
  -o-transition: margin-top 0.3s;
  -webkit-transition: margin-top 0.3s;
  transition: margin-top 0.3s;
  white-space: pre-line;
}
[hover-desc]:before {
  content: "";
  top: -10px;
  margin-left: -3px;
  width: 6px;
  height: 6px;
  background: transparent;
  transform: rotate(45deg);
  box-shadow: 5px 5px 0 #000;
  white-space: pre-line;
}
[hover-desc]:after {
  content: attr(hover-desc);
  top: -22px;
  transform: translateX(-50%);
  background: var(--main-border-colour);
  color: #000;
  font-size: 12px;
  line-height: 1em;
  white-space: nowrap;
  padding: 5px 8px;
  border-radius: 3px;
  white-space: pre-line;
}
[hover-desc]:hover:before, [hover-desc]:hover:after {
  visibility: visible;
  margin-top: -4px;
  z-index: 1;
  white-space: pre-line;
}
