<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Lab</title>


    <!-- Favicons -->
    <link href="/static/img/favicon.jpg" rel="icon">
    <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="/static/css/style.css" rel="stylesheet">



</head>
<body>
<section id="contact" class="section-bg wow fadeInUp">
    <div class="container">

        <div class="section-header">
            <h3>Add New Lab</h3>
        </div>


        <div class="form">
            <form action="/addlab" method="post" role="form" class="contactForm" id="addlabform">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input type="text" name="labname" class="form-control" id="name" placeholder="Lab Name" data-rule="minlen:10" data-msg="Please enter at least 4 chars" />
                        <div class="validation"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="radio">
                        <label class="radio-inline control-label">
                            <input type="radio" name="labtype" value="0">
                            Non-Coding
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="radio">
                        <label class="radio-inline control-label">
                            <input type="radio" name="labtype" value="1">
                            Coding
                        </label>
                    </div>
                </div>


                <div class="form-group">
                    <label class="form-control" id="labcode">Your Lab Code:<%= '  '+labcode %><span class="fa fa-copy float-right copycode"></span></label>
                    <input type="hidden" name="labcode" value="<%= labcode%>">
                </div>
                <div class="text-center"><button type="submit" onclick="$('#addlabform').submit();">ADD</button></div>
            </form>
        </div>

    </div>
</section><!-- #contact -->


<!-- JavaScript Libraries -->
<script src="/static/lib/jquery/jquery.min.js"></script>
<script src="/static/lib/jquery/jquery-migrate.min.js"></script>
<script src="/static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/lib/easing/easing.min.js"></script>
<script src="/static/lib/superfish/hoverIntent.js"></script>
<script src="/static/lib/superfish/superfish.min.js"></script>
<script src="/static/lib/wow/wow.min.js"></script>
<script src="/static/lib/waypoints/waypoints.min.js"></script>
<script src="/static/lib/counterup/counterup.min.js"></script>
<script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/static/lib/isotope/isotope.pkgd.min.js"></script>
<script src="/static/lib/lightbox/js/lightbox.min.js"></script>
<script src="/static/lib/touchSwipe/jquery.touchSwipe.min.js"></script>

<!-- Template Main Javascript File -->
<script src="/static/js/main.js"></script>


<script>
       $('.copycode').click(function () {
           var text = $('#labcode');
           text.focus();
           document.execCommand('copy');
           alert('Lab Code Copied');
       }) ;

</script>
</body>
</html>