<!doctype html>
<html lang="en">
<head>
    <% include commonHeadElements.html %>
    <% include sidebar.html %>
    <% include navbar.html %>
    <link href="/static/styles/core/theme-style.css" rel="stylesheet">

</head>
<body>





<!--yahaan se-->
<div class="wrapper ">
    <!--sidebar-->


    <div class="main-panel">

        <!-- Navbar -->

        <!-- End Navbar -->





        <div class="content">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="/labs">Labs</a></li>
                    <li class="breadcrumb-item"><a href="/practicals/<%= meta.lid %>"><%= meta.labname %></a></li>
                    <li class="breadcrumb-item"><a href="/problems/<%= meta.pid %>"> <%= meta.pname %> </a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add Problem</li>
                </ol>
            </nav>

            <input type="hidden" value="" id="labid">

            <div class="container-fluid">

                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <form action="/addproblem" method="post">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">
                                <span style="font-size: 30px;">New Problem</span>
                             </h4>
                            <p class="card-category"></p>
                        </div>
                        <div class="card-body table-responsive">
                            <div class="paper">
                                <div class="paper-content">
                                    <textarea  name="problem"  autofocus></textarea>
                                    <input type="hidden" value="<%= meta.pid %>" name="pid">
                                </div>
                            </div>
                            <div class="form-group mt-5">
                                <input type="text" class="form-control" name="query" placeholder="Enter Answer Query Here .." required>
                            </div>
                        </div>
                        <button class="btn btn-success mb-5" type="submit" style="width: 50%;left: 25%;"> <i class="fa fa-plus"></i> Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!--yahaan tak-->

<% include commonFooterScriptElements.html %>

</body>
</html>