<!DOCTYPE html>
<html lang="en">
    <head>
<title>Online-lab</title>
        <% include commonHeadElements.html %>

    </head>
    <body class="boxed-layout container" itemscope itemtype="http://schema.org/WebPage">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
$(document).ready(function() {
    $("#faculty_lab").hide();
     $("#add_lab").hide();
    $("input[name$='student']").click(function() {
       if( $(this).val()==2)
	{$("#add_lab").hide();
	$("#faculty_lab").show();

	}
	if( $(this).val()==3)
       {$("#faculty_lab").hide();
	$("#add_lab").show();

	}

    });
});</script>
        <div id="siteLoadingContainer">
            <div id="dashboardViewStack">

		<% include header.html %>
                <div id="login-view">


                    <div class="container padding-bottom-20">
		<% if(Message) { %>
                            <p class="errorMessage margin-bottom-10 text-center" id="loginError">
                                <%= Message %>
                            </p>
                            <% } %>

                        <div class="row margin-top-20">
	<div align="center" class="container padding-bottom-20 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
	<div id="myRadioGroup">
   <h5> Assign lab to faculty</h5><input type="radio" name="student"  value="2"  /><h5>Add lab</h5><input type="radio" name="student" value="3" />
</div></div>
<div type="hidden" id="faculty_lab">
			  <div id="data" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				</div>
                            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                                <form id = "signupform" class="reg-page"  method="POST" action="/admintask">
                                    <div  class="reg-header">

                                        <h2>ASSIGN LAB TO FACULTY</h2>

                                    </div>



                                    <label>FACULTY ID<span class="color-red">*</span></label>
                                    <input type="text" placeholder="ID"
                                           class="form-control margin-bottom-10" name="facultyid" data-validate="required">

				  <label>LAB ID <span class="color-red">*</span></label>
                                    <input type="text" placeholder="ABC1234" name="labid"  class="form-control margin-bottom-10" data-validate="required">

				   <label>SECTION <span class="color-red">*</span></label>
                                      <select name="section" class="form-control margin-bottom-10" >
                                        <option value="A-1">A-1</option>
                                        <option value="A-2">A-2</option>
                                        <option value="A-3">A-3</option>
                                        <option value="B-1">B-1</option>
                                        <option value="B-2">B-2</option>
                                        <option value="B-3">B-3</option>
                                        <option value="C-1">C-1</option>
                                        <option value="C-2">C-2</option>
                                        <option value="C-3">C-3</option>
                                        <option value="D-1">D-1</option>
                                        <option value="D-2">D-2</option>
                                        <option value="D-3">D-3</option>
                                        <option value="E-1">E-1</option>
                                        <option value="E-2">E-2</option>
                                        <option value="E-3">E-3</option>
                                        <option value="F-1">F-1</option>
                                        <option value="F-2">F-2</option>
                                        <option value="F-3">F-3</option>
                                        <option value="G-1">G-1</option>
                                        <option value="G-2">G-2</option>
                                        <option value="G-3">G-3</option>
                                        <option value="H-1">H-1</option>
                                        <option value="H-2">H-2</option>
                                        <option value="H-3">H-3</option>
                                        <option value="I-1">I-1</option>
                                        <option value="I-2">I-2</option>
                                        <option value="I-3">I-3</option>
                                        <option value="J-1">J-1</option>
                                        <option value="J-2">J-2</option>
					<option value="K-1">K-1</option>
                                        <option value="K-2">K-2</option>
                                        <option value="K-3">K-3</option>
                                        <option value="L-1">L-1</option>
                                        <option value="L-2">L-2</option>
                                        <option value="L-3">L-3</option>
                                        <option value="M-1">M-1</option>
                                        <option value="M-2">M-2</option>
                                        <option value="M-3">M-3</option>
                                        <option value="N-1">N-1</option>
                                        <option value="N-2">N-2</option>
                                        <option value="N-3">N-3</option>
                                        <option value="O-1">O-1</option>
                                        <option value="O-2">O-2</option>
                                        <option value="O-3">O-3</option>
                                        <option value="P-1">P-1</option>
                                        <option value="P-2">P-2</option>
                                        <option value="P-3">P-3</option>
                                        <option value="Q-1">Q-1</option>
                                        <option value="Q-2">Q-2</option>
                                        <option value="Q-3">Q-3</option>
                                        <option value="R-1">R-1</option>
                                        <option value="R-2">R-2</option>
                                        <option value="R-3">R-3</option>
                                        <option value="S-1">S-1</option>
                                        <option value="S-2">S-2</option>
                                        <option value="S-3">S-3</option>
                                        <option value="T-1">T-1</option>
                                        <option value="T-2">T-2</option>
                                        <option value="T-3">T-3</option>
                                        <option value="U-1">U-1</option>
                                        <option value="U-2">U-2</option>
                                        <option value="U-3">U-3</option>
                                        <option value="V-1">V-1</option>
                                        <option value="V-2">V-2</option>
                                        <option value="V-3">V-3</option>
                                        <option value="W-1">W-1</option>
                                        <option value="W-2">W-2</option>
                                        <option value="W-3">W-3</option>
                                        <option value="X-1">X-1</option>
                                        <option value="X-2">X-2</option>
                                        <option value="X-3">X-3</option>
                                        <option value="Y-1">Y-1</option>
                                        <option value="Y-2">Y-2</option>
                                        <option value="Y-3">Y-3</option>
                                        <option value="Z-1">Z-1</option>
                                        <option value="Z-2">Z-2</option>
                                        <option value="Z-3">Z-3</option>
                                        <option value="CS(A+B)">CS(A+B)</option>
                                        <option value="CS(C+D)">CS(C+D)</option>
                                        <option value="CS(E+F)">CS(E+F)</option>
                                        <option value="CS(G+H)">CS(G+H)</option>
                                        <option value="ME">ME</option>
                                        <option value="(EC,EN,CE)">(EC,EN,CE)</option>

                                    </select>

                                    <hr>

                                    <div class="row">
                                        <div class="text-center">
                                            <button id="submitBtn" class="btn-u">ASSIGN</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div><!--/row-->
                         <div id="loading" class="component-loading hide"></div>
                    </div>
                </div>
            </div>
</div>

	<div id="dashboardViewStack">
	 <div id="login-view">

                    <div class="container padding-bottom-20">
                        <div class="row margin-top-20">
			<div type="hidden" id="add_lab">
                            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                                <form id = "signupform" class="reg-page"  method="POST" action="/admintasklab">
                                    <div class="reg-header">
                                        <h2>ADD LAB</h2>

                                    </div>
				    <label>COURSE ID<span class="color-red">*</span></label>
                                    <select name="c_id" class="form-control margin-bottom-10">
          <option value="1111">1111</option>
          <option value="1100">1100</option>
					 <option value="1200">1200</option>
  					 <option value="1300">1300</option>
					<option value="1400">1400</option>
					<option value="1500">1500</option>
					 <option value="1600">1600</option>
  					 <option value="1700">1700</option>
					 <option value="1800">1800</option>
					</select>


                                    <label>LAB ID<span class="color-red">*</span></label>
                                    <input type="text" placeholder="LAB ID"
                                           class="form-control margin-bottom-10" name="labid" data-validate="required">

				  <label>LAB NAME <span class="color-red">*</span></label>
                                    <input type="text" placeholder="DAA ,DS etc" name="labname"  class="form-control margin-bottom-10" data-validate="required">
				<div >
                                    <label>YEAR <span class="color-red">*</span></label>
                                     <select name="year" class="form-control margin-bottom-10" >
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
				   </div>




                                    <hr>

                                    <div class="row">
                                        <div class="text-center">
                                            <button id="submitBtn" class="btn-u">ADD</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div><!--/row-->
                         <div id="loading" class="component-loading hide"></div>
                    </div>
                </div></div>
            </div>
            <% include footer.html %>
            <% include commonFooterScriptElements.html %>
            <% include socialPlatformScripts.html %>
            <script>
                $("#signupForm").validate();
            </script>
        </div>
    </body>
</html>
