<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bot/style.css">
    <title>Movie Bot</title>
</head>
<body>
<input type="hidden" value="<%= id %>" id="sessionid">
<div class="container h-100 pull-right pull-right">
    <div class="row align-items-center h-100 pull-right">
        <div class="col-md-6 col-sm-12 mx-auto pull-right">
            <div class="h-100 pull-right">
                <div class="chat-container" style="overflow: auto; max-height: 80vh;">
                    <!-- chat messages -->
                </div>
                <form id="target">
                    <input class="input" type="text" value="" placeholder="Enter message..." id="input_message"/>
                    <input type="submit" hidden>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://js.pusher.com/4.1/pusher.min.js"></script>
<script src="/static/bot/custom.js"></script>
</body>
</html>