<!DOCTYPE html>
<html lang="en">
    <head>
        <% include commonHeadElements.html %>
    </head>
    <body class="boxed-layout container" itemscope itemtype="http://schema.org/WebPage">
        <div id="siteLoadingContainer">

            <div id="dashboardViewStack">
                <div id="login-view">
                    <div class="container padding-bottom-20">
                        <div class="row margin-top-20">
                            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                                <form class="reg-page" id="forgotpass"  method="POST" action="/updatepass">
                                    <div class="reg-header">
                                        <h2>Change Password</h2>
                                        <p>Already Signed Up? <a href="/home" class="color-blue">Sign In</a> to login your account.</p>
                                    </div>

                                      <div class="row">
                                        <div class="col-sm-6">
                                            <label>New Password <span class="color-red">*</span></label>
                                            <input type="password" placeholder="Password" class="form-control margin-bottom-10" name="password" data-validate="password" >
                                        </div>
                                        <div class="col-sm-6">
                                            <label>Confirm Password <span class="color-red">*</span></label>
                                            <input type="password" placeholder="Confirm Password" class="form-control margin-bottom-10"
                                                   data-validate="retypePassword" data-password-field="password" id="retypePassword">
					    <input type="hidden" name="uid" value="<%= uid %>">
                                        </div>
                                    </div>
					<div class="text-center">
                                            <button id="submitBtn" class="btn-u">Change Password</button>
                                        </div>
                                    </div>


                                    
                                </form>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <% include footer.html %>
            <% include commonFooterScriptElements.html %>
            <% include socialPlatformScripts.html %>
            <script>
                $("#forgotpass").validate();
            </script>
        </div>
    </body>
</html>
