<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Online compiler and IDE">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/static/styles/codemirror.css">
  <script src="/static/scripts/codemirror.js"></script>
  <script src="/static/scripts/mode/clike.js"></script>
  <script src="/static/scripts/mode/haskell.js"></script>
  <script src="/static/scripts/mode/javascript.js"></script>
  <script src="/static/scripts/mode/octave.js"></script>
  <script src="/static/scripts/mode/pascal.js"></script>
  <script src="/static/scripts/mode/python.js"></script>
  <script src="/static/scripts/mode/ruby.js"></script>
  <script src="/static/scripts/mode/shell.js"></script>

  <link rel="stylesheet" href="/static/styles/ide.css">
  <script src="/static/scripts/ideone.js"></script>





  <title>ONLINE LAB </title>

  <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
  <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>

<body>

	<p id="code" data-code="<%= data %>"></p>
	<div style="visibility: hidden">
		<a id="problem_number"> <%= problem_number %> </a>
		<a id="problem_id"> <%= problem_id %> </a>
		<a id="user_id"> <%= user_id %> </a>
	</div>



  <nav class="navbar navbar-default navbar-static-top">



      <div class="navbar-header">
        <a class="navbar-brand">ONLINE LAB</a>

      </div>

      <div class="navbar-form navbar-right">
        <div class="input-group">
          <div class="input-group-btn">

            <button id="insertTemplateBtn" type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Insert Template
            </button>
          </div>
          <select class="form-control" id="selectLanguageBtn">
            <option value="1" mode="text/x-sh">Bash (4.4)</option>
            <option value="2" mode="text/x-sh">Bash (4.0)</option>
            <option value="3" mode="text/x-csrc">C (gcc 6.3.0)</option>
            <option value="4" mode="text/x-csrc">C (gcc 5.4.0)</option>
            <option value="5" mode="text/x-csrc">C (gcc 4.9.4)</option>
            <option value="6" mode="text/x-csrc">C (gcc 4.8.5)</option>
            <option value="7" mode="text/x-c++src">C++ (g++ 6.3.0)</option>
            <option value="8" mode="text/x-c++src">C++ (g++ 5.4.0)</option>
            <option value="9" mode="text/x-c++src">C++ (g++ 4.9.4)</option>
            <option value="10" mode="text/x-c++src">C++ (g++ 4.8.5)</option>
            <option value="11" mode="text/x-csharp">C# (mono 4.8.0.472)</option>
            <option value="12" mode="text/x-haskell">Haskell (ghc 8.0.2)</option>
            <option value="13" mode="text/x-java">Java (OpenJDK 8)</option>
            <option value="14" mode="text/x-java">Java (OpenJDK 7)</option>
            <option value="25" mode="text/javascript">JavaScript (nodejs 6.10.1)</option>
            <option value="26" mode="text/javascript">JavaScript (nodejs 4.8.1)</option>
            <option value="15"  mode="text/x-octave">Octave (4.2.0)</option>
            <option value="16" mode="text/x-pascal">Pascal (fpc 3.0.0)</option>
            <option value="17" mode="text/x-python">Python (3.6.0)</option>
            <option value="18" selected mode="text/x-python">Python (3.5.3)</option>
            <option value="19" mode="text/x-python">Python (2.7.9)</option>
            <option value="20" mode="text/x-python">Python (2.6.9)</option>
            <option value="21" mode="text/x-ruby">Ruby (2.4.0)</option>
            <option value="22" mode="text/x-ruby">Ruby (2.3.3)</option>
            <option value="23" mode="text/x-ruby">Ruby (2.2.6)</option>
            <option value="24" mode="text/x-ruby">Ruby (2.1.9)</option>
          </select>
        </div>

        <button class="btn btn-success" id="runBtn" data-loading-text="Running...">

          <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Run (F9)
        </button>

        <button class="btn btn-success" id="approve" onclick="RefreshParentWindow()">

          <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Approve
        </button>

        <button class="btn btn-success btn-red" id="submission" onclick="RefreshParentWindow()">

          <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Reject
        </button>

        <button class="btn btn-success btn-red" id="makeline">

          <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Add Comments
        </button>





      </div>
    </div>
  </nav>

    <input type="hidden" id="submission_id" value="<%= solution_id %>">

  <div id="sourceEditor"></div>

  <div class="container-fluid">
    <div class="row labels">
      <div id="inputLabel" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h4><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Input<small> optional</small></h4>
      </div>
      <div id="outputLabel" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h4>
          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
          Output <small id="emptyIndicator">empty</small>
          <small class="pull-right" id="statusLine"></small>
        </h4>
      </div>
    </div>

    <div class="row ioEditors">
      <div id="inputEditor" class="col-xs-6 col-sm-6 col-md-6 col-lg-6"></div>
      <div id="outputEditor" class="col-xs-6 col-sm-6 col-md-6 col-lg-6"></div>
    </div>

    <div class="row">
      <div id="footer" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
       <p>Developed by <b><i>SARTHAK GARG (BTech III year)</b></i> &&<b><i> SAGAR GOYAL (BTech III year) </b></i>In guidance of <b><i>Mr. PIYUSH KHANDELWAL (Asst. Professor, CSE Dept.)</i></b></p>
      </div>
    </div>
  </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Comment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="visual-area">
              <div id="visual-area2">

              </div>
              <input type="hidden" id="linenumber">
              <input type="text" id="comment" placeholder="Enter Your Comment Here" class="form-control">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="submitcomment">Submit</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('.toremove').remove();">Close</button>
          </div>
        </div>
      </div>
    </div>


  <script>

    var comments;
  function RefreshParentWindow(){
opener.location.reload();
window.close();
}







//code for getting comments
    $(document).ready(function () {

        setTimeout(1000,function () {
            $('#makeline').click();
        });

        $.post('/getcomments',{solution_id:$('#submission_id').val()},function (data,status) {

            comments=data;
            console.log(comments);
            var x = $('.myline');
            for(var i=0;i<x.length;++i){
                for(var j=0;j<comments.length;++j){
                    if ((i+1)==comments[j].line){
                        $(x[i]).attr("data-cap",comments[j].comment);
                        $(x[i]).css({"color":"red","background-color":"whitesmoke","border-radius":"50%"});
                    }
                }

            }
        });


//         var x  = $('.myline');
// //console.log(x.length);
//         for(var i=0;i<x.length;++i) {
//             $(x[i]).click(function (event) {
//                 $('#exampleModal').modal();
//                 $('#linenumber').val(this.innerHTML);
//                 if (this.getAttribute('data-cap')) {
//                     var x = this;
//                     console.log('data-cap hai');
//                     var l = $('<label />', {
//                         class: 'form-control toremove',
//                         text: 'Previous Comment: ' + x.getAttribute('data-cap'),
//                     });
//                     $('#visual-area2').append(l);
//                     $('#visual-area2').append("<br/>");
//
//                 }
//             });
//         }


    });




  $('#makeline').click(function () {

//console.log('button clicked');
var x  = $('.myline');
//console.log(x.length);
for(var i=0;i<x.length;++i){
    $(x[i]).click(function (event) {
        $('#exampleModal').modal();
        $('#linenumber').val(this.innerHTML);
        if (this.getAttribute('data-cap')){
            var x = this;
            console.log('data-cap hai');
            var l = $('<label />',{
                class:'form-control toremove',
                text:'Previous Comment: '+x.getAttribute('data-cap'),
            });
            $('#visual-area2').append(l);
            $('#visual-area2').append("<br/>");

        }
    });
}
  });



  $('#submitcomment').click(function () {

console.log('sending request');

      $.post('/addcomment',{solution_id:$('#submission_id').val(),line:$('#linenumber').val(),comment:$('#comment').val()},function (data,status) {
            if (data.flag==1) console.log('comment added');
      });
      $('#exampleModal').modal('hide');
      $('.toremove').remove();
  });
</script>

</body>
</html>
