<!doctype html>
<html lang="en">
<head>
  <% include commonHeadElements.html %>
<% include sidebar.html %>
  <% include navbar.html %>

</head>
<body>





<!--yahaan se-->
<div class="wrapper ">
  <!--sidebar-->


  <div class="main-panel">

    <!-- Navbar -->

    <!-- End Navbar -->





    <div class="content">

      <div class="container-fluid">
        <div class="row">
          <div class="col-4">
            <div class="card card-stats">
              <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                  <i class="fa fa-question-circle-o"></i>
                </div>
                <p class="card-category">Requests</p>
                <h3 class="card-title"><%= requests %>
                  <!--<small>GB</small>-->
                </h3>
              </div>
              <div class="card-footer">
                <!--<div class="stats">-->
                  <!--<i class="material-icons text-danger">warning</i>-->
                  <!--<a href="#pablo">Get More Space/static/dashboard.</a>-->
                <!--</div>-->
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card card-stats">
              <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                  <i class="fa fa-laptop"></i>
                </div>
                <p class="card-category">Labs</p>
                <h3 class="card-title"> <%= labs %> </h3>
              </div>
              <div class="card-footer">
                <!--<div class="stats">-->
                  <!--<i class="material-icons">date_range</i> Last 24 Hours-->
                <!--</div>-->
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card card-stats">
              <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon">
                  <i class="fa fa-group"></i>
                </div>
                <p class="card-category">Students</p>
                <h3 class="card-title"> <%= students %> </h3>
              </div>
              <div class="card-footer">
                <!--<div class="stats">-->
                  <!--<i class="material-icons">local_offer</i> Tracked from Github-->
                <!--</div>-->
              </div>
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-lg-6 col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">Students</h4>
                <!--<p class="card-category">New employees on 15th September, 2016</p>-->
              </div>
              <div class="card-body table-responsive">
                <table class="table table-hover text-center">
                  <thead class="text-primary">
                  <th>#</th>
                  <th>Name</th>
                  </thead>
                  <tbody>
                  <%  for(i in mystudents)  { %>
                  <tr data-cap="<%= '/students/'+mystudents[i].id %>" onclick="window.location.href = this.getAttribute('data-cap');" style="cursor: pointer">
                    <td><%= parseInt(i)+1 %></td>
                    <td><%= mystudents[i].name %></td>
                  </tr>
                  <% }%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-12">
            <div class="card">
              <div class="card-header card-header-info">
                <h4 class="card-title">Labs</h4>
                <!--<p class="card-category">New employees on 15th September, 2016</p>-->
              </div>
              <div class="card-body table-responsive">
                <table class="table table-hover text-center">
                  <thead class="text-primary">
                  <th>#</th>
                  <th>Name</th>
                  </thead>
                  <tbody>
                  <%  for(i in mylabs)  { %>
                  <tr data-cap="<%= '/practicals/'+mylabs[i].id %>" onclick="window.location.href = this.getAttribute('data-cap');" style="cursor: pointer">
                    <td><%= parseInt(i)+1 %></td>
                    <td><%= mylabs[i].labname + '(' + mylabs[i].labcode + ')' %></td>
                  </tr>
                  <% }%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <div class="copyright">
          &copy; MySQLR , <script>document.write(new Date().getFullYear())</script>
        </div>
      </div>
    </footer>
  </div>
</div>


<!--yahaan tak-->

<% include commonFooterScriptElements.html %>
</body>
</html>