<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Dashboard</title>

    <!-- Bootstrap core CSS-->
    <link href="/static/new/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="/static/new/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="/static/new/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/new/css/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top">

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="/">Digilab</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <!--<form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">-->
    <!--<div class="input-group">-->
    <!--<input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">-->
    <!--<div class="input-group-append">-->
    <!--<button class="btn btn-primary" type="button">-->
    <!--<i class="fas fa-search"></i>-->
    <!--</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</form>-->

    <!--Navbar -->
    <!--<ul class="navbar-nav ml-md-0">-->

    <!--<li class="nav-item dropdown no-arrow mx-1 float-right">-->
    <!--<a class="nav-link dropdown-toggle float-right" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
    <!--<i class="fas fa-bell fa-fw float-right"></i>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li class="nav-item dropdown no-arrow mx-1 float-right">-->
    <!--<a class="nav-link dropdown-toggle float-right" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
    <!--<i class="fas fa-envelope fa-fw float-right"></i>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li class="nav-item dropdown no-arrow float-right">-->
    <!--<a class="nav-link dropdown-toggle float-right" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
    <!--<i class="fas fa-user-circle fa-fw float-right"></i>-->
    <!--</a>-->
    <!--</li>-->
    <!--</ul>-->

</nav>

<div id="wrapper">
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/uinfo">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>


        <% var role =  currentUser.role_name %>


        <% if(role == "student") { %>

        <li class="nav-item">
            <a class="nav-link" href="" data-target="#requestLabModal" data-toggle="modal">
                <i class="fas fa-fw fa-plus"></i>
                <span>Lab</span></a>
        </li>

        <% } %>

        <% if(role == "teacher" || role == "admin") { %>

        <li class="nav-item">
            <a class="nav-link" href="/addlab">
                <i class="fas fa-fw fa-plus"></i>
                <span>Lab</span></a>
        </li>

        <% } %>

        <li class="nav-item">
            <a class="nav-link" href="/logout">
                <i class="fas fa-fw fa-power-off"></i>
                <span>Logout</span></a>
        </li>

    </ul>

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/uinfo">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">My Profile</li>
            </ol>

            <!-- Icon Cards-->
            <div class="row">
                <div class="col-xl-6 col-sm-12 mb-3">
                    <div class="card text-white bg-info o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-comments"></i>
                            </div>
                            <div class="mr-5">My Profile</div>
                        </div>
                        <span class="card-footer text-white clearfix large z-1" href="#">
<form class="reg-page" id="signupForm" method="POST" action="/edit_profile">
                            <div class="reg-header">
                            </div>

                            <label>Name <span class="color-red">*</span></label>
                            <input type="text" placeholder="Name" name="user_name" data-validate="required" class="form-control margin-bottom-10" value="<%= currentUser.user_name %>">

                            <label>Email Address <span class="color-red">*</span></label>
                            <input type="email" placeholder="Email address. For example : example@gla.ac.in"
                                   class="form-control margin-bottom-10" name="email" data-validate="email" value="<%= currentUser.email_id %>">

                            <label>Enter Current Password<span class="color-red">*</span></label>
                            <input type="tel" placeholder="Current Password"
                                   class="form-control margin-bottom-10" name="oldpwd" data-validate="">
                            <!--<div id="studententry" class="desc">-->
                                <!--<div class="row"><div class="col-sm-6">-->
                                    <!--<label>Course-Name <span class="color-red">*</span></label>-->
                                    <!--<select id="c_name" name="course_name" class="form-control margin-bottom-10" >-->
                                        <!--<option hidden value=""></option>-->
                                        <!--<option selected value="B.TECH">B.TECH</option>-->
                                        <!--<option value="BCA">MCA</option>-->
                                        <!--<option value="BCA">BCA</option>-->
                                    <!--</SELECT></div>-->
                                    <!--<div class="col-sm-6">-->
                                        <!--<label>year <span class="color-red">*</span></label>-->
                                        <!--<select  id="year" name="year" class="form-control margin-bottom-10" >-->
                                            <!--<option hidden value=""></option>-->
                                            <!--<option value="1">1</option>-->
                                            <!--<option value="2">2</option>-->
                                            <!--<option selected  value="3">3</option>-->
                                            <!--<option value="4">4</option>-->
                                        <!--</select>-->
                                    <!--</div></div>-->
                                <!--<div class="row">-->
                                    <!--<div class="col-sm-6">-->
                                        <!--<label>Course-id <span class="color-red">*</span></label>-->
                                        <!--<select name="course_id" id="c_id" class="form-control margin-bottom-10" value="<%= currentUser.course_id %>">-->
                                            <!--<option hidden value=""></option>-->
                                            <!--<option value="1100">1100</option>-->
                                            <!--<option value="1200">1200</option>-->
                                            <!--<option value="1300">1300</option>-->
                                            <!--<option value="1400">1400</option>-->
                                            <!--<option selected  value="1500">1500</option>-->
                                            <!--<option value="1600">1600</option>-->
                                            <!--<option value="1700">1700</option>-->
                                            <!--<option value="1800">1800</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                    <!--<div class="col-sm-6">-->
                                        <!--<label>Section <span class="color-red">*</span></label>-->
                                        <!--<select name="user_section" id="section" class="form-control margin-bottom-10">-->
                                            <!--<option hidden value=""></option>-->
                                            <!--<option selected value="A-1">A-1</option>-->
                                            <!--<option value="A-2">A-2</option>-->
                                            <!--<option value="A-3">A-3</option>-->
                                            <!--<option value="B-1">B-1</option>-->
                                            <!--<option value="B-2">B-2</option>-->
                                            <!--<option value="B-3">B-3</option>-->
                                            <!--<option value="C-1">C-1</option>-->
                                            <!--<option value="C-2">C-2</option>-->
                                            <!--<option value="C-3">C-3</option>-->
                                            <!--<option value="D-1">D-1</option>-->
                                            <!--<option value="D-2">D-2</option>-->
                                            <!--<option value="D-3">D-3</option>-->
                                            <!--<option value="E-1">E-1</option>-->
                                            <!--<option value="E-2">E-2</option>-->
                                            <!--<option value="E-3">E-3</option>-->
                                            <!--<option value="F-1">F-1</option>-->
                                            <!--<option value="F-2">F-2</option>-->
                                            <!--<option value="F-3">F-3</option>-->
                                            <!--<option value="G-1">G-1</option>-->
                                            <!--<option value="G-2">G-2</option>-->
                                            <!--<option value="G-3">G-3</option>-->
                                            <!--<option value="H-1">H-1</option>-->
                                            <!--<option value="H-2">H-2</option>-->
                                            <!--<option value="H-3">H-3</option>-->
                                            <!--<option value="I-1">I-1</option>-->
                                            <!--<option value="I-2">I-2</option>-->
                                            <!--<option value="I-3">I-3</option>-->
                                            <!--<option value="J-1">J-1</option>-->
                                            <!--<option value="J-2">J-2</option>-->
                                            <!--<option value="J-3">J-3</option>-->
                                            <!--<option value="K-1">K-1</option>-->
                                            <!--<option value="K-2">K-2</option>-->
                                            <!--<option value="K-3">K-3</option>-->
                                            <!--<option value="L-1">L-1</option>-->
                                            <!--<option value="L-2">L-2</option>-->
                                            <!--<option value="L-3">L-3</option>-->
                                            <!--<option value="M-1">M-1</option>-->
                                            <!--<option value="M-2">M-2</option>-->
                                            <!--<option value="M-3">M-3</option>-->
                                            <!--<option value="N-1">N-1</option>-->
                                            <!--<option value="N-2">N-2</option>-->
                                            <!--<option value="N-3">N-3</option>-->
                                            <!--<option value="O-1">O-1</option>-->
                                            <!--<option value="O-2">O-2</option>-->
                                            <!--<option value="O-3">O-3</option>-->
                                            <!--<option value="P-1">P-1</option>-->
                                            <!--<option value="P-2">P-2</option>-->
                                            <!--<option value="P-3">P-3</option>-->
                                            <!--<option value="Q-1">Q-1</option>-->
                                            <!--<option value="Q-2">Q-2</option>-->
                                            <!--<option value="Q-3">Q-3</option>-->
                                            <!--<option value="R-1">R-1</option>-->
                                            <!--<option value="R-2">R-2</option>-->
                                            <!--<option value="R-3">R-3</option>-->
                                            <!--<option value="S-1">S-1</option>-->
                                            <!--<option value="S-2">S-2</option>-->
                                            <!--<option value="S-3">S-3</option>-->
                                            <!--<option value="T-1">T-1</option>-->
                                            <!--<option value="T-2">T-2</option>-->
                                            <!--<option value="T-3">T-3</option>-->
                                            <!--<option value="U-1">U-1</option>-->
                                            <!--<option value="U-2">U-2</option>-->
                                            <!--<option value="U-3">U-3</option>-->
                                            <!--<option value="V-1">V-1</option>-->
                                            <!--<option value="V-2">V-2</option>-->
                                            <!--<option value="V-3">V-3</option>-->
                                            <!--<option value="W-1">W-1</option>-->
                                            <!--<option value="W-2">W-2</option>-->
                                            <!--<option value="W-3">W-3</option>-->
                                            <!--<option value="X-1">X-1</option>-->
                                            <!--<option value="X-2">X-2</option>-->
                                            <!--<option value="X-3">X-3</option>-->
                                            <!--<option value="Y-1">Y-1</option>-->
                                            <!--<option value="Y-2">Y-2</option>-->
                                            <!--<option value="Y-3">Y-3</option>-->
                                            <!--<option value="Z-1">Z-1</option>-->
                                            <!--<option value="Z-2">Z-2</option>-->
                                            <!--<option value="Z-3">Z-3</option>-->

                                        <!--</select>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Password <span class="color-red">*</span></label>
                                    <input type="password" placeholder="Password" class="form-control margin-bottom-10" name="password" data-validate="password" >
                                </div>
                                <div class="col-sm-6">
                                    <label>Confirm Password <span class="color-red">*</span></label>
                                    <input type="password" placeholder="Confirm Password" class="form-control margin-bottom-10"
                                           data-validate="retypePassword" data-password-field="password" id="retypePassword">
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="text-center">
                                    <button id="submitBtn" class="btn btn-outline-primary bg-light text-center center" style="margin-left: 5.5cm;">Submit</button>
                                </div>
                            </div>
                        </form>

                  </span>
                        </span>
                    </div>
                </div>

            </div>
        </div>



    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Modal -->
<div class="modal fade" id="requestLabModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Lab</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="visual-area">
                    <div id="visual-area2">

                    </div>
                    <input type="text" id="rlabcode" placeholder="Enter Lab Code" class="form-control">
                    <label class="form-control" id="req_lab_name" style="display: none;"></label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" id="addlabBtn">Submit</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/static/new/vendor/jquery/jquery.min.js"></script>
<script src="/static/new/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/static/new/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="/static/new/vendor/chart.js/Chart.min.js"></script>
<script src="/static/new/vendor/datatables/jquery.dataTables.js"></script>
<script src="/static/new/vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for all pages-->
<script src="/static/new/js/sb-admin.min.js"></script>

<!-- Demo scripts for this page-->
<script src="/static/new/js/demo/datatables-demo.js"></script>
<script src="/static/new/js/demo/chart-area-demo.js"></script>

</body>

</html>
