<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Dashboard</title>

    <!-- Bootstrap core CSS-->
    <link href="/static/new/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="/static/new/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="/static/new/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/new/css/sb-admin.css" rel="stylesheet">



</head>

<body id="page-top">

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="index.html">Digilab</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <!--<form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">-->
    <!--<div class="input-group">-->
    <!--<input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">-->
    <!--<div class="input-group-append">-->
    <!--<button class="btn btn-primary" type="button">-->
    <!--<i class="fas fa-search"></i>-->
    <!--</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</form>-->

    <!--Navbar -->
    <!--<ul class="navbar-nav ml-md-0">-->

    <!--<li class="nav-item dropdown no-arrow mx-1 float-right">-->
    <!--<a class="nav-link dropdown-toggle float-right" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
    <!--<i class="fas fa-bell fa-fw float-right"></i>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li class="nav-item dropdown no-arrow mx-1 float-right">-->
    <!--<a class="nav-link dropdown-toggle float-right" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
    <!--<i class="fas fa-envelope fa-fw float-right"></i>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li class="nav-item dropdown no-arrow float-right">-->
    <!--<a class="nav-link dropdown-toggle float-right" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
    <!--<i class="fas fa-user-circle fa-fw float-right"></i>-->
    <!--</a>-->
    <!--</li>-->
    <!--</ul>-->

</nav>

<div id="wrapper">
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/uinfo">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <% var role =  currentUser.role_name %>


        <% if(role == "student") { %>

        <li class="nav-item">
            <a class="nav-link" href="" data-target="#requestLabModal" data-toggle="modal">
                <i class="fas fa-fw fa-plus"></i>
                <span>Lab</span></a>
        </li>

        <% } %>

        <% if(role == "teacher" || role == "admin") { %>

        <li class="nav-item">
            <a class="nav-link" href="/addlab">
                <i class="fas fa-fw fa-plus"></i>
                <span>Lab</span></a>
        </li>

        <% } %>

        <li class="nav-item">
            <a class="nav-link" href="/edit_profile">
                <i class="fas fa-fw fa-pencil-alt"></i>
                <span>Profile</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/logout">
                <i class="fas fa-fw fa-power-off"></i>
                <span>Logout</span></a>
        </li>

    </ul>

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/uinfo">Dashboard</a>
                </li>
            </ol>

            <!-- Icon Cards-->
            <div class="row">
                <div class="col-xl-12 col-sm-12 mb-3">
                    <div class="card text-white bg-primary o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-comments"></i>
                            </div>
                        </div>
                        <span class="card-footer text-white clearfix large z-1" href="#">
<h3>Problems</h3>
<div class="table-responsive">
                                <table class="table table-hover text-center  text-light">
                                    <thead>
                                        <tr>
	                                          <th><B>LAB</B></th>
                                            <th>Problems</th>
                                            <th>Students</th>
                                           <th>Requests</th>
                                        </tr>
                                    </thead>
                                    <tbody>
	 <% for(var i in JSON.parse(obj)) { %>
<tr>
	     <td>	<%= eval(JSON.stringify(JSON.parse(obj)[i].lab_name)) %>	</td>
            <td><a href="/<%= eval(JSON.stringify(JSON.parse(obj)[i].lab_name)) %>/sec/<%= eval(JSON.stringify(JSON.parse(obj)[i].section)) %>"> <i class="fa fa-list" style="color: white;"></i> </a></td>
            <td><a class="studentslist fa fa-user" style="cursor: pointer;" value="" lab-name= "<%= eval(JSON.stringify(JSON.parse(obj)[i].lab_name)) %>" section-name ="<%= eval(JSON.stringify(JSON.parse(obj)[i].section)) %>"> </a></td>
            <td><span  style="color: white;cursor: pointer;" class="labrequestsModalTrigger" data-cap="<%= eval(JSON.stringify(JSON.parse(obj)[i].lab_id)) %>"><%= eval(JSON.stringify(JSON.parse(obj)[i].requests)) %> </span></td>
</tr>
         <% } %>
                                    </tbody>
                                </table>
                            </div>

                  </span>
                        </span>
                    </div>
                </div>

            </div>
        </div>



    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<!-- Bootstrap core JavaScript-->
<script src="/static/new/vendor/jquery/jquery.min.js"></script>
<script src="/static/new/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/static/new/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="/static/new/vendor/chart.js/Chart.min.js"></script>
<script src="/static/new/vendor/datatables/jquery.dataTables.js"></script>
<script src="/static/new/vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for all pages-->
<script src="/static/new/js/sb-admin.min.js"></script>

<!-- Demo scripts for this page-->
<script src="/static/new/js/demo/datatables-demo.js"></script>
<script src="/static/new/js/demo/chart-area-demo.js"></script>


<script>

    $(document).ready(function()
    {
        $(".studentslist").click(function(event) {
            var a = $("#student_list");
            a.children()[0].value = $(event.target).attr('lab-name');
            a.children()[1].value = $(event.target).attr('section-name');
            $("#student_list").submit();

        });


        $('.labrequestsModalTrigger').click(function () {

            var href = '/request?lab_id='+$(this).attr('data-cap');
            window.location = href;
        });



    });

</script>

<form id="student_list" action="/studentlist" method = "POST">
    <input id="lab__name" type = "hidden" name="lab_name" value="" />
    <input id="section_" type = "hidden" name="section" value="" />
</form>

<style>
    .sidebar2{
        width: 90px !important;
        background-color: #000000;
        min-height: calc(100vh - 56px);
    }
</style>
</body>

</html>
