<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Dashboard</title>

    <!-- Bootstrap core CSS-->
    <link href="/static/new/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="/static/new/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="/static/new/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/new/css/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top">

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="/">Digilab</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <!--<form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">-->
    <!--<div class="input-group">-->
    <!--<input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">-->
    <!--<div class="input-group-append">-->
    <!--<button class="btn btn-primary" type="button">-->
    <!--<i class="fas fa-search"></i>-->
    <!--</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</form>-->

    <!--Navbar -->
    <!--<ul class="navbar-nav ml-md-0">-->

    <!--<li class="nav-item dropdown no-arrow mx-1 float-right">-->
    <!--<a class="nav-link dropdown-toggle float-right" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
    <!--<i class="fas fa-bell fa-fw float-right"></i>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li class="nav-item dropdown no-arrow mx-1 float-right">-->
    <!--<a class="nav-link dropdown-toggle float-right" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
    <!--<i class="fas fa-envelope fa-fw float-right"></i>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li class="nav-item dropdown no-arrow float-right">-->
    <!--<a class="nav-link dropdown-toggle float-right" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
    <!--<i class="fas fa-user-circle fa-fw float-right"></i>-->
    <!--</a>-->
    <!--</li>-->
    <!--</ul>-->

</nav>

<div id="wrapper">
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/uinfo">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>



        <% var role =  currentUser.role_name %>


        <% if(role == "student") { %>

        <li class="nav-item">
            <a class="nav-link" href="" data-target="#requestLabModal" data-toggle="modal">
                <i class="fas fa-fw fa-plus"></i>
                <span>Lab</span></a>
        </li>

        <% } %>

        <% if(role == "teacher" || role == "admin") { %>

        <li class="nav-item">
            <a class="nav-link" href="/addlab">
                <i class="fas fa-fw fa-plus"></i>
                <span>Lab</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/<%= labname %>/addproblem/<%= section %>">
                <i class="fas fa-fw fa-plus"></i>
                <span>Problem</span></a>
        </li>

        <% } %>

        <li class="nav-item">
            <a class="nav-link" href="/logout">
                <i class="fas fa-fw fa-info"></i>
                <span>Logout</span></a>
        </li>

    </ul>

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/uinfo">Dashboard</a>
                </li>
                <li class="breadcrumb-item"><%= labname %></li>
                <li class="breadcrumb-item active">Problems</li>
            </ol>

            <!-- Icon Cards-->
            <div class="row">
                <div class="col-xl-12 col-sm-12 mb-3">
                    <div class="card text-white bg-primary o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-comments"></i>
                            </div>
                            <h3>Problems</h3>
                        </div>
                        <span class="card-footer text-white clearfix large z-1" href="#">

                            <div class="table-responsive">
                                <table class="table table-hover text-center  text-light">
                                    <thead>
                                        <tr>
	                                          <th><B>#</B></th>
                                            <th>Problem</th>
                                            <th>Progress</th>
                                           <th>Student Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
 <% for(var i in problem) { %>
	    <% if(problem[i].problem_flag == 1) { %>
        <tr>
            <td><%= problem[i].problem_number %></td>
            <td><%= eval(JSON.stringify(problem[i].problem)) %> </td>
	     <td ><div class="stat-3 stat-bar">
    <span class="stat-bar-rating" role="stat-bar" style="width: <%= parseInt(JSON.stringify(pc.info[i]))/parseInt(JSON.stringify(tn)) * 100%>% ;"></span>
  </div></td>
            <td style="width: 200px;"><form action="/studentstatus" method="POST"><input type="hidden" name="labname" value="<%= labname %>"  /><input type="hidden" name="problem" value="<%= eval(JSON.stringify(problem[i].problem)) %>"  /><input type="hidden" name="section" value="<%= section %>"  /><input type="hidden" name="problem_number" value="<%= problem[i].problem_number %>"  />
 <input type="hidden" name="problem_id" value="<%= problem[i].problem_id %>">
 <button type="submit" class="btn btn-light" > <i class="fa fa-tasks"></i> </button></form></td>

 <td><button class="deleteproblem-btn btn btn-info" data-toggle="tooltip" title="Hide Problem" value="" problem-number="<%= problem[i].problem_number %>" problem-id ="<%= problem[i].problem_id %>"> <i class="fa fa-eraser"></i> </button></td>

        </tr>
        <% } %>
         <% } %>

                                    </tbody>
                                </table>
                            </div>

                            <h3>Hidden Problems</h3>

                            <div class="table-responsive">
                                <table class="table table-hover text-center  text-light">
                                    <thead>
                                        <tr>
	                                          <th><B>#</B></th>
                                            <th>Problem</th>
                                            <th>Show Problem</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
<% for(var i in problem) { %>
  	    <% if(problem[i].problem_flag == 0) { %>
          <tr>
              <td><%= problem[i].problem_number %>
              <td><%= eval(JSON.stringify(problem[i].problem)) %> </td>


<td><button class="problem-restore-btn btn btn-light" value="" problem-number="<%= problem[i].problem_number %>" problem-id ="<%= problem[i].problem_id %>"> <i class="fa fa-file" style="color: green"></i>  </button></td>
<td><button class="problem-permanentdelete-btn btn btn-light" value=""  problem-number="<%= problem[i].problem_number %>" problem-id ="<%= problem[i].problem_id %>"> <i class="fa fa-trash" style="color: red"></i> </button></td>

          </tr>
          <% } %>
           <% } %>

                                    </tbody>
                                </table>
                            </div>



                  </span>
                        </span>
                    </div>
                </div>

            </div>
        </div>



    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Modal -->
<div class="modal fade" id="requestLabModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Lab</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="visual-area">
                    <div id="visual-area2">

                    </div>
                    <input type="text" id="rlabcode" placeholder="Enter Lab Code" class="form-control">
                    <label class="form-control" id="req_lab_name" style="display: none;"></label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" id="addlabBtn">Submit</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/static/new/vendor/jquery/jquery.min.js"></script>
<script src="/static/new/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/static/new/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="/static/new/vendor/chart.js/Chart.min.js"></script>
<script src="/static/new/vendor/datatables/jquery.dataTables.js"></script>
<script src="/static/new/vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for all pages-->
<script src="/static/new/js/sb-admin.min.js"></script>

<!-- Demo scripts for this page-->
<script src="/static/new/js/demo/datatables-demo.js"></script>
<script src="/static/new/js/demo/chart-area-demo.js"></script>



<script>

    $(document).ready(function(){

        $(".deleteproblem-btn").click(function(event){
            var c = $("#delproblem");
            c.children()[1].value=$(event.target).attr('problem-number');
            c.children()[2].value=$(event.target).attr('problem-id');
            $("#delproblem").submit();

        });

        $(".problem-restore-btn").click(function(event){
            var a = $("#restore");
            a.children()[1].value=$(event.target).attr('problem-number');
            a.children()[2].value=$(event.target).attr('problem-id');
            $("#restore").submit();
        });

        $(".problem-permanentdelete-btn").click(function(event){
            var b = $("#dpp");
            b.children()[1].value=$(event.target).attr('problem-number');
            b.children()[2].value=$(event.target).attr('problem-id');
            $("#dpp").submit();
        });


    });



</script>


<form id = "restore" action="/restoreproblem" method="POST">
    <input id= "Labname" type="hidden" name="lab_name" value="<%= labname %>"  />
    <input id= "problem_Number" type="hidden" name="problem_number" value=""  />
    <input id= "problem_Id" type="hidden" name="problem_id" value="" />
</form>

<form id = "dpp" action="/deleteproblempermanently" method="POST">
    <input id= "Labname" type="hidden" name="lab_name" value="<%= labname %>"  />
    <input id= "problem_Number" type="hidden" name="problem_number" value=""  />
    <input id= "problem_Id" type="hidden" name="problem_id" value="" />
</form>

<form id = "delproblem" action="/deleteproblem" method="POST">
    <input id = "Labname" type="hidden" name="lab_name" value="<%= labname %>"  />
    <input id = "problem_Number" type="hidden" name="problem_number" value=""  />
    <input id = "problem_Id" type="hidden" name="problem_id" value="" />
</form>




</body>

</html>