<footer>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="copyright-space">
                       DEVELOPED BY SARTHAK GARG(BTECH III YEAR,2017) AND SAGAR GOYAL(BTECH III YEAR,2017) IN THE GUIDANCE OF PIYUSH KHANDELWAL(PROJECTOR &reg; HEAD) 
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<div id="feedbackContainer">

</div>
