<!DOCTYPE html>
<html lang="en">
    <head>
        <% include commonHeadElements.html %>
    </head>
    <body class="boxed-layout container" itemscope itemtype="http://schema.org/WebPage">
        <div id="siteLoadingContainer">

            <div id="dashboardViewStack">
                <div id="login-view">
                    <div class="container padding-bottom-20">
                        <div class="row margin-top-20">
                            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                                <form class="reg-page" id="forgotpass"  method="POST" action="/forgotpass">
                                    <div class="reg-header">
                                        <h2>Recover Password</h2>
                                        <p>Already Signed Up? <a href="/home" class="color-blue">Sign In</a> to login your account.</p>
                                    </div>

                                    <label>Email Address <span class="color-red">*</span></label>
                                    <input type="email" placeholder="Email address. For example : example@gmail.com"
                                           class="form-control margin-bottom-10" name="email" data-validate="email">

                                   <div class="row">
                                        <div class="text-center">
                                            <button id="submitBtn" class="btn-u">Recover Account</button>
                                        </div>
                                    </div>
                                    </div>


                                    
                                </form>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <% include footer.html %>
            <% include commonFooterScriptElements.html %>
            <% include socialPlatformScripts.html %>
            <script>
                $("#signupForm").validate();
            </script>
        </div>
    </body>
</html>
