
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet"  type="text/css" href="/static/styles/login.css">
    <script>
        function preventBack(){window.history.forward();}
        setTimeout("preventBack()", 0);
        window.onunload=function(){null};
    </script>
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/fav.ico">

</head>
<body>
<div id="bg"></div>


<form id='sign-in' method="POST" action="/login">
    <% if(errorMessage) { %>
    <p class="errorMessage margin-bottom-10 text-center" id="loginError">
        <%= errorMessage %>
    </p>
    <% } %>

    <label for=""></label>
    <input type="text" name="user_id" id="user_id" placeholder="Email" class="email">

    <label for=""></label>
    <input type="password" name="password" id="password" placeholder="password" class="pass">

    <button type="submit">Login</button>

    <div class="col-xs-12" style="text-align:center; margin-bottom:66px;margin-top:6px;">

        <a href="/signup">   <div style="float:left; width:70px;"><span class="sign-up-icon" ><br>Sign-up</span></div></a>
        <a href="/forgot_password">  <div style="float:right; width:70px;"><span class="reset-password-icon"><br>Reset Password</span></div></a>


    </div>


</form>


</div>
</body>
</html>
