<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Online compiler and IDE">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">



  <script src="/static/scripts/lib/jquery-3.1.1.min.js"></script>

  <link href="/static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">

<!--
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
-->


  <link rel="stylesheet" href="/static/scripts/lib/bootstrap.min3.css">



  <!--
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
-->

  <script src="/static/scripts/lib/bootstrap.min3.js"></script>





  <link rel="stylesheet" href="/static/styles/codemirror.css">
  <script src="/static/scripts/codemirror.js"></script>
  <script src="/static/scripts/mode/clike.js"></script>
  <script src="/static/scripts/mode/haskell.js"></script>
  <script src="/static/scripts/mode/javascript.js"></script>
  <script src="/static/scripts/mode/octave.js"></script>
  <script src="/static/scripts/mode/pascal.js"></script>
  <script src="/static/scripts/mode/python.js"></script>
  <script src="/static/scripts/mode/ruby.js"></script>
  <script src="/static/scripts/mode/shell.js"></script>
  <script src="/testcases/<%=user_id.problem_id%>.js"></script>

  <link rel="stylesheet" href="/static/styles/ide.css">
  <script src="/static/scripts/ide.js"></script>
  <script src="/static/scripts/visualize.js"></script>



  <!--<script src="/static/scripts/lib/popper.min.js"></script>-->
  <!--<script src="/static/scripts/lib/bootstrap.min4.js"></script>-->



  <!--
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
-->
<script type="text/javascript">
$(document).ready(function () {


    $('body').bind('cut copy paste', function (e) {
        e.preventDefault();
    });
    try {
        var str = eval(JSON.stringify(data[1].value));
    }catch (e) {
        console.log('no test case');
    }
    $('#problem').html("Problem:<br><i>"+str+"<i>");
$(document).ready(function(){
    $(document).keydown(function(event) {
        if (event.ctrlKey==true && (event.which == '118' || event.which == '86')) {

            event.preventDefault();
         }
    });
});


    $("body").on("contextmenu",function(e){
        return false;
    });
});
</script>
 <script>
         function changeHashOnLoad() {
             window.location.href += "#";
             setTimeout("changeHashAgain()", "50");
         }

         function changeHashAgain() {
             window.location.href += "1";
         }

         var storedHash = window.location.hash;
         window.setInterval(function () {
             if (window.location.hash != storedHash) {
                 window.location.hash = storedHash;
             }
         }, 50);
         changeHashOnLoad();

       </script>
   <script>
       function disableselect(e) {
           return false;
       }
       function reEnable() {
           return true;
       }

       document.onselectstart = new Function("return false")


       if (window.sidebar) {
           //document.onmousedown = disableselect                    // for mozilla
           document.onclick = reEnable;
       }

       function clickIE() {
           if (document.all) {
               (message);
               return false;
           }
       }


       document.oncontextmenu = new Function("return false")

       var element = document.getElementById('tbl');
       if (element != null) {
           element.onmousedown = function () { return false; }        // mozilla
       }
    </script>
    <script>
        var fn = function (e) {

            if (!e)
                var e = window.event;

            var keycode = e.keyCode;
            if (e.which)
                keycode = e.which;

            var src = e.srcElement;
            if (e.target)
                src = e.target;
            if (e.ctrlKey && e.shiftKey && e.keyCode==73) {
                // Firefox and other non IE browsers
                if (e.preventDefault) {
                    e.preventDefault();
                    e.stopPropagation();
                }
                // Internet Explorer
                else if (e.ctrlKey) {
                    e.keyCode = 0;
                    e.returnValue = false;
                    e.cancelBubble = true;
                }

                return false;
            }
        }
        document.onkeypress = document.onkeydown = document.onkeyup = fn;


</script>

  <title>ONLINE LAB </title>

  <link rel="shortcut icon" href="/static/images/fav.png" type="image/x-icon">
  <link rel="icon" href="/static/images/fav.png" type="image/x-icon">
</head>

<body>
<p id="testCaseData"></p>


<script>
$(document).ready(function(){
    try {
        $('#testCaseData').attr("data", JSON.stringify(data));

        for (i = 2; i < Object.keys(data).length - 2; i = i + 2) {
            box = box + '<span><div class="testbox" id="testbox' + i / 2 + '" hover-desc="Input: ' + data[i].value + '  \n  Output: ' + data[i + 1].value + ' "><p style="float:left;" >Test Case ' + i / 2 + ':pending</p><img id="imgbox' + i / 2 + '" src="/static/images/pending.png" style="width:15px;height:15px;float:left;"></div></span>';
        }
        $("#area").append('  <div class="container-fluid" id="problemtestcases" >' + box + '</div>');
    }catch (e) {
        $('#testcasecheck').click();
    }

});
</script>

<p id="code" data-code="<%= eval(JSON.stringify(user_id.data)) %>"></p>
  <nav class="navbar navbar-default navbar-static-top">


    <div class="container-fluid">
<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

<div >
<a id="problem" style="background-color:white;"><%= user_id.problem %></a></div>
</div>
<div style="visibility: hidden">
<a id="problem_number"> <%= user_id.problem_number %> </a>
<a id="problem_id"> <%= user_id.problem_id %> </a>
  <input type="hidden" id="submission_id" value="<%= currentUser.user_id+'_'+user_id.problem_number+'_'+user_id.problem_id %>">
</div>
      <div class="navbar-header">
        <a class="navbar-brand">ONLINE LAB</a>

      </div>

      <div class="navbar-form navbar-right">
        <div class="input-group">
          <div class="input-group-btn">

            <button id="insertTemplateBtn" type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Insert Template
            </button>
          </div>
          <select class="form-control" id="selectLanguageBtn">
            <option value="1" mode="text/x-sh">Bash (4.4)</option>
            <option value="2" mode="text/x-sh">Bash (4.0)</option>
            <option value="3" mode="text/x-csrc">C (gcc 6.3.0)</option>
            <option value="4" mode="text/x-csrc">C (gcc 5.4.0)</option>
            <option value="5" mode="text/x-csrc">C (gcc 4.9.4)</option>
            <option value="6" mode="text/x-csrc">C (gcc 4.8.5)</option>
            <option value="7" mode="text/x-c++src">C++ (g++ 6.3.0)</option>
            <option value="8" mode="text/x-c++src">C++ (g++ 5.4.0)</option>
            <option value="9" mode="text/x-c++src">C++ (g++ 4.9.4)</option>
            <option value="10" mode="text/x-c++src">C++ (g++ 4.8.5)</option>
            <option value="11" mode="text/x-csharp">C# (mono 4.8.0.472)</option>
            <option value="12" mode="text/x-haskell">Haskell (ghc 8.0.2)</option>
            <option value="13" mode="text/x-java">Java (OpenJDK 8)</option>
            <option value="14" mode="text/x-java">Java (OpenJDK 7)</option>
            <option value="25" mode="text/javascript">JavaScript (nodejs 6.10.1)</option>
            <option value="26" mode="text/javascript">JavaScript (nodejs 4.8.1)</option>
            <option value="15"  mode="text/x-octave">Octave (4.2.0)</option>
            <option value="16" mode="text/x-pascal">Pascal (fpc 3.0.0)</option>
            <option value="17" mode="text/x-python">Python (3.6.0)</option>
            <option value="18" selected mode="text/x-python">Python (3.5.3)</option>
            <option value="19" mode="text/x-python">Python (2.7.9)</option>
            <option value="20" mode="text/x-python">Python (2.6.9)</option>
            <option value="21" mode="text/x-ruby">Ruby (2.4.0)</option>
            <option value="22" mode="text/x-ruby">Ruby (2.3.3)</option>
            <option value="23" mode="text/x-ruby">Ruby (2.2.6)</option>
            <option value="24" mode="text/x-ruby">Ruby (2.1.9)</option>
          </select>
        </div>

	  <button class="btn btn-success" id="popup" onclick="openNav()">
          <span class="fa fa-file" aria-hidden="true"></span>View Problem
        </button>

        <button class="btn btn-success" id="runBtn" data-loading-text="Running...">
          <span class="fa fa-play" aria-hidden="true"></span> Run (F9)
        </button>

	  <button class="btn btn-success" id="submission" onclick="AddRecord()">
          <span class="fa fa-check" aria-hidden="true"></span>Submit
        </button>

        <!-- Adding button here -->
        <button type="button" class="btn btn-primary" id="myvisual" >
          <span class="fa fa-laptop" aria-hidden="true" ></span>Visualize
        </button>

      </div>
    </div>
  </nav>

  <div id="sourceEditor"></div>
  <div id="testcasesdiv">
  <input id="testcasecheck"  type="checkbox">
  <label for="testcasecheck" >Give custom Test Case </label>
  </div>
  <br/>

<div id="area">

</div>






<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal Visualize</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="visual-area">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="visual-area3">
          <div id="visual-area2">

          </div>
          <input type="hidden" id="linenumber">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('.toremove').remove();">Close</button>
      </div>
    </div>
  </div>
</div>



<input type="button" data-toggle="modal" data-target="#exampleModal" id="pressModal">


  <div id="footer" class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
   <p>Developed by <b><i>SAGAR GOYAL (BTech IV year)</b></i> &&<b><i> SARTHAK GARG (BTech IV year) </b></i>In guidance of <b><i>Mr. PIYUSH KHANDELWAL (Asst. Professor, CSE Dept.)</i></b></p>
  </div>

<script>

    //code for getting comments
    $(document).ready(function () {
        $.post('/getcomments',{solution_id:$('#submission_id').val()},function (data,status) {

            comments=data;
            console.log(comments);
            var x = $('.myline');
            for(var i=0;i<x.length;++i){
                for(var j=0;j<comments.length;++j){
                    if ((i+1)==comments[j].line){
                        $(x[i]).attr("data-cap",comments[j].comment);
                        $(x[i]).css({"color":"red","background-color":"whitesmoke","border-radius":"50%"});
                    }
                }

            }
        });

        //code for adding comments

//console.log('button clicked');
            var x  = $('.myline');
//console.log(x.length);
            for(var i=0;i<x.length;++i){
                $(x[i]).click(function (event) {
                    $('#exampleModal2').modal();
                    $('#linenumber').val(this.innerHTML);
                    if (this.getAttribute('data-cap')){
                        var x = this;
                        console.log('data-cap hai');
                        var l = $('<label />',{
                            class:'form-control toremove',
                            text:'Previous Comment: '+x.getAttribute('data-cap'),
                        });
                        $('#visual-area2').append(l);
                        $('#visual-area2').append("<br/>");

                    }
                });
            }
    });




</script>

  <script>
  function AddRecord(){
opener.location.reload();
//window.close();
}
  </script>

</body>
</html>
