<!doctype html>
<html lang="en">
<head>
    <% include commonHeadElements.html %>
    <% include sidebar.html %>
    <% include navbar.html %>

</head>
<body>





<!--yahaan se-->
<div class="wrapper ">
    <!--sidebar-->


    <div class="main-panel">

        <!-- Navbar -->

        <!-- End Navbar -->





        <div class="content">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="/student">Students</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Lab Requests</li>
                </ol>
            </nav>

            <div class="container-fluid">

                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">
                                <span style="font-size: 30px;">Lab Requests</span>
                            </h4>
                            <!--<p class="card-category"></p>-->
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-hover text-center">
                                <thead class="text-primary">
                                <th>#</th>
                                <th>Lab</th>
                                <th>Student</th>
                                <th>Accept</th>
                                <th>Reject</th>
                                </thead>
                                <tbody>
                                <% for(i in req){ %>
                                <tr>
                                    <td><%= parseInt(i)+1 %></td>
                                    <td><%= req[i].labname %></td>
                                    <td><%= req[i].uname %></td>
                                    <td><form method="post" action="/labaccept">
                                        <input type="hidden" name="uid" value="<%= req[i].uid %>">
                                        <input type="hidden" name="lid" value="<%= req[i].lid %>">
                                        <button type="submit"  rel="tooltip" title="Accept" class="btn btn-primary btn-link btn-sm">
                                            <i class="fa fa-check" style="color: green;"></i>
                                        </button>
                                        </form>
                                    </td>
                                    <td><form method="post" action="/labreject">
                                        <input type="hidden" name="uid" value="<%= req[i].uid %>">
                                        <input type="hidden" name="lid" value="<%= req[i].lid %>">
                                        <button type="submit" rel="tooltip" title="Reject" class="btn btn-danger btn-link btn-sm">
                                            <i class="fa fa-times" style="color: red;"></i>
                                        </button>
                                    </form>
                                    </td>
                                </tr>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!--yahaan tak-->

<% include commonFooterScriptElements.html %>

</body>
</html>