<!doctype html>
<html lang="en">
<head>
    <% include commonHeadElements.html %>
    <% include sidebar.html %>
    <% include navbar.html %>

</head>
<body>





<!--yahaan se-->
<div class="wrapper ">
    <!--sidebar-->


    <div class="main-panel">

        <!-- Navbar -->

        <!-- End Navbar -->





        <div class="content">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active"><a href="/labs">Labs</a></li>
                </ol>
            </nav>


            <div class="container-fluid">

                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">
                                <span style="font-size: 30px;">
                                    <% if(currentUser.role==2) { %>
                                    <i class="fa fa-eye"></i>
                                    <% } %>
                                    labs</span>

                                <button class="pull-right btn btn-warning" id="newLabBtn" data-target="#addLabModal" data-toggle="modal"> <i class="fa fa-plus"></i> </button>

                            </h4>
                            <p class="card-category"></p>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-hover text-center">
                                <thead class="text-primary">
                                <th>#</th>
                                <th>Name</th>
                                <th>View Practicals</th>
                                <% if(currentUser.role==2){ %>
                                <th>Students</th>
                                <% } %>

                                </thead>
                                <tbody>
                                <%  for(i in labs)  { %>
                                <tr>
                                    <td><%= parseInt(i)+1 %></td>
                                    <td><%= labs[i].labname + '(' + labs[i].labcode + ')' %></td>
                                    <td>
                                        <a href="<%= '/practicals/'+labs[i].id %>" class="btn btn-rose">
                                            <i class="fa fa-file"></i>
                                        </a>
                                    </td>

                                    <% if(currentUser.role==2) { %>
                                    <td>
                                        <a href="<%= '/labstudents/'+labs[i].id %>" class="btn btn-primary">
                                            <i class="fa fa-group"></i>
                                        </a>
                                    </td>
                                    <% } %>
                                </tr>
                                <% }%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>




<% if(currentUser.role==2) { %>

<!-- Modal For Faculty-->
<div class="modal fade" id="addLabModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Lab</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="visual-area">
                    <div id="visual-area2">

                    </div>
                    <input type="text" id="labname" placeholder="Enter Lab Name" class="form-control">
                    <label class="form-control" id="req_lab_name" style="display: none;"></label>
                    <div class="form-group">
                        <label class="form-control">Lab Code:</label>
                        <label class="form-control" id="newLabCode"></label>
                        <input type="hidden" id="labcode">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" id="addLab">Add</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<% } else { %>
<!-- Modal For Student-->
<div class="modal fade" id="addLabModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Lab</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="visual-area">
                    <div id="visual-area2">

                    </div>
                    <input type="text" id="labcode" placeholder="Enter Lab Code" class="form-control">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" id="addLab">Add</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<% } %>
<input type="hidden" id="role" value="<%= currentUser.role %>">
<!--yahaan tak-->

<% include commonFooterScriptElements.html %>

<script>
    $(document).ready(function () {
        if ($('#role').val()==2) {
            $('#newLabBtn').click(function () {
                var number = Math.random() * (99999999 - 10000000) + 10000000;
                $('#newLabCode').html(parseInt(number));
                $('#labcode').val(parseInt(number));
            });

            $('#addLab').click(function () {
                $.post('/addnewlab', {
                    labcode: $('#labcode').val(),
                    labname: $('#labname').val()
                }, function (data, status) {
                    alert('New Lab Added Successfully');
                    window.location.reload();
                });
            });
        } else {
            $('#addLab').click(function () {
                $.post('/requestnewlab', {
                    labcode: $('#labcode').val()
                }, function (data, status) {
                    alert('Request Added Successfully');
                    window.location.reload();
                });
            });
        }
    });
</script>
</body>
</html>