<!doctype html>
<html lang="en">
<head>
    <% include commonHeadElements.html %>
    <% include sidebar.html %>
    <% include navbar.html %>

</head>
<body>





<!--yahaan se-->
<div class="wrapper ">
    <!--sidebar-->


    <div class="main-panel">

        <!-- Navbar -->

        <!-- End Navbar -->





        <div class="content">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active"><a href="#">My Dumps</a></li>
                </ol>
            </nav>


            <div class="container-fluid">

                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">
                                <span style="font-size: 30px;">
                                    <% if(currentUser.role==2) { %>
                                    <i class="fa fa-eye"></i>
                                    <% } %>
                                    My Dumps</span>
                                <% if(currentUser.role==2) { %>
                                <button class="pull-right btn btn-warning" data-target="#addLabModal" data-toggle="modal"> <i class="fa fa-plus"></i> </button>
                                <% } %>
                            </h4>
                            <p class="card-category"></p>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-hover text-center">
                                <thead class="text-primary">
                                <th>#</th>
                                <th>Tag</th>
                                <th>Time</th>
                                <th>Redeem</th>
                                <th>Download</th>
                                </thead>
                                <tbody>
                                <%  for(i in dump)  { %>
                                <tr>
                                    <td><%= parseInt(i)+1 %></td>
                                    <td><%= dump[i].tag %></td>
                                    <td><%= dump[i].ts.toString().substring(0,24) %></td>
                                    <td>
                                        <button class="btn btn-success openterminal" data-cap="<%= dump[i].dump %>" > <i class="fa fa-database"></i> </button>
                                    </td>
                                    <td>
                                        <a class="btn btn-info" href="/static/uploads/<%= dump[i].dump%>.sql" download="<%= currentUser.name %>-<%= parseInt(i)+1 %>.sql"> <i class="fa fa-download"></i> </a>
                                    </td>

                                </tr>
                                <% }%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>


<div style="display: none;">
    <form id="terminalform" action="/terminal" method="get" target="customWindow">
    </form>
</div>



<% include commonFooterScriptElements.html %>

<script>
    $(document).ready(function () {
        $('.openterminal').click(function (event) {
            window.open('', 'customWindow', 'width=700,height=380,toolbar=no,directories=no,menubar=no,resizable=no,location=no,addressbar=no');
            var src = $(event.target).attr('data-cap');
            if (src == undefined) window.location.reload();
            $('#terminalform').attr('action','/terminal/'+src);
            console.log($('#terminalform').attr('action'),' is new action');
            $('#terminalform').submit();
        });
    });
</script>


</body>
</html>