<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>DiGiLab</title>
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="/static/img/favicon.jpg" rel="icon">
    <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">


    <!-- Main Stylesheet File -->
    <link href="/static/css/style.css" rel="stylesheet">

    <style>

        .container .cta-btn{
            background-color: #4CAF50;
        }

        .popup-form {
            background-color: #C0C0C0;
            color: black;
            display: none;
            position: fixed;
            bottom: 10%;
            right: 35%;
            border: 3px solid #c0c0c0;
            z-index: 10001;
        }
        .requestForm {
            max-width: 400px;
            padding: 10px;
            background-color: #C0C0C0;
        }

        .requestForm .input-text{
            width:100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .requestForm .btn {
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            background-color: #4CAF50;
            margin-bottom:10px;
            left: 30%;
            text-align: center;
            border-radius: 4px;
            width: 100%;

        }
        .requestForm .cnl-btn{
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            background-color: red;
            margin-bottom:10px;
            text-align: center;
            right: 40%;
            border-radius: 4px;
            width: 100%;
        }
    </style>


    <!-- =======================================================
      Theme Name: BizPage
      Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


</head>

<body>

<!--==========================
  Header
============================-->
<header id="header">
    <div class="container-fluid">

        <div id="logo" class="pull-left">
            <h1><a href="#intro" class="scrollto"><%= labname %></a></h1>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li><a href="#" data-toggle="modal" title="Show Problem" data-target=".bd-example-modal-lg"> <span class="fa fa-file mr-0" style="font-size: 25px;" onmouseover="this.style.color='yellow';" onmouseout="this.style.color='white';"></span> </a></li>
                <!--
                <li><a href="#" id="btnbtnbtn" data-toggle="tooltip" data-placement="bottom" title="Previous Data"> <span class="fa fa-download mr-0" style="font-size: 25px;" onmouseover="this.style.color='blue';" onmouseout="this.style.color='white';"></span> </a></li>
                -->
                <li><a href="#" id="saveBtn" data-toggle="tooltip" data-placement="bottom" title="Save"> <span class="fa fa-save mr-0" style="font-size: 25px;" onmouseover="this.style.color='#00FF00';" onmouseout="this.style.color='white';"></span> </a></li>
                <li><a href="#" id="submitBtn" data-toggle="tooltip" data-placement="bottom" title="Submit"> <span class="fa fa-check mr-0" style="font-size: 25px;" onmouseover="this.style.color='#00FF00';" onmouseout="this.style.color='white';"></span> </a></li>
                <li><a href="#" id="closeBtn" data-toggle="tooltip" data-placement="bottom" title="Exit"> <span class="fa fa-window-close mr-0" style="font-size: 25px;" onmouseover="this.style.color='red';" onmouseout="this.style.color='white';"></span> </a></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->



<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <label class="form-control"><%= user_id.problem %>
                <span class="fa fa-close float-right" data-target=".bd-example-modal-lg" data-toggle="modal"></span>
            </label>

        </div>

    </div>
</div>


    <!--==========================
       Call To Action Section
     ============================-->
    <section id="call-to-action" class="wow fadeIn">

        <!-- Large modal -->





        <div class="container text-center">
            <form id="myform" method="post" action="/noncodinglabcontent" style="margin-top: 10%;">
                <textarea name="content"></textarea>
                <input type="hidden" id="solutionid" name="solutionid" value="<%= user_id.rid+'_'+user_id.problem_number+'_'+user_id.problem_id %>">
                <input type="hidden" id="problem" value="<%= user_id.problem %>">
                <input type="hidden" id="problem_number" value="<%= user_id.problem_number %>">
                <input type="hidden" id="problem_id" value="<%= user_id.problem_id %>">


            </form>
        </div>
        <% if(user_id.data.length>0){ %>
        <input type="hidden" value="<%= user_id.data %>" id="mycontent">
        <% } else { %>
        <input type="hidden" value="" id="mycontent">
        <% } %>
        <!--<button id="btnbtnbtn2">Get Data</button>-->




        <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=ufu8tq5e5s5ako4ssb1inwj55g5c2jzfgzj53kdj6td9u4af"></script>
        <script type="text/javascript">
            var cleanHTML = function(input) {
                console.log("BEFORE >");
                console.log(input);


                // 1. remove line breaks / Mso classes
                var stringStripper = /(\n|\r| class=(")?Mso[a-zA-Z]+(")?)/g;
                var output = input.replace(stringStripper, ' ');

                console.log("STEP 1 >");
                console.log(output);

                // 2. strip Word generated HTML comments
                var commentSripper = new RegExp('<!--(.*?)-->', 'g');
                var output = output.replace(commentSripper, '');

                console.log("STEP 2 >");
                console.log(output);

                // 3. remove tags leave content if any
                var tagStripper = new RegExp('<(\/)*(title|meta|link|span|\\?xml:|st1:|o:|font)(.*?)>', 'gi');
                output = output.replace(tagStripper, '');

                console.log("STEP 3 >");
                console.log(output);

                // 4. Remove everything in between and including tags '<style(.)style(.)>'
                var badTags = ['style', 'script', 'applet', 'embed', 'noframes', 'noscript'];

                for (var i = 0; i < badTags.length; i++) {
                    var tagStripper = new RegExp('<' + badTags[i] + '.*?' + badTags[i] + '(.*?)>', 'gi');
                    output = output.replace(tagStripper, '');
                }

                console.log("STEP 4 >");
                console.log(output);

                // A different attempt
                //output = (output).replace(/font-family\:[^;]+;?|font-size\:[^;]+;?|line-height\:[^;]+;?/g, '');

                // 5. remove attributes ' style="..."'
                var badAttributes = ['start', 'align'];
                for (var i = 0; i < badAttributes.length; i++) {
                    var attributeStripper = new RegExp(' ' + badAttributes[i] + '="(.*?)"', 'gi');
                    output = output.replace(attributeStripper, '');
                }

                console.log("STEP 5 >");
                console.log(output);

                return output;
            };

            tinymce.init({
                selector:'textarea',
                plugins: 'textcolor table paste',
                plugins: [
                    "advlist autolink lists link image charmap print preview anchor",
                    "searchreplace visualblocks code fullscreen",
                    "insertdatetime media table contextmenu paste"
                ],
                //plugins: 'hr,image,link,contextmenu,emoticons,fullscreen,media,lists,paste,table,textcolor,charmap,compat3x,spellchecker,code',
                toolbar: ' formatselect | bold italic underline strikethrough | forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist | pastetext | custom_tooltip',
                convert_fonts_to_spans: true,
                paste_word_valid_elements: "b,strong,i,em,h1,h2,u,p,ol,ul,li,a[href],span,color,font-size,font-color,font-family,mark,table,tr,td",
                paste_retain_style_properties: "all",
                //paste_postprocess: function(plugin, args) {
                //    args.node.innerHTML = cleanHTML(args.node.innerHTML);
                //},
                setup: function(editor) {
                    // Register tooltip button
                    editor.addButton('custom_tooltip', {
                        text: 'Tooltip',
                        title: 'Add a tool tip to the selected text.',
                        onclick: function() {
                            editor.windowManager.open({
                                title: 'Insert Tooltip',
                                body: [{
                                    type: 'textbox',
                                    name: 'tooltipText',
                                    label: 'Tooltip Text',
                                    value: ''
                                }],
                                onsubmit: function(e) {
                                    var title = e.data.tooltipText;
                                    var content = editor.selection.getContent();
                                    editor.insertContent('<span class="tooltip" title="' + title + '">' + content + '</span>');
                                }
                            });
                        }
                    });
                }
            }).then(function (editors) {
                console.log(this.tinymce.activeEditor.setContent($('#mycontent').val()));
            });

        </script>

        <script>
            // $('#btnbtnbtn').click(function () {
            //     tinymce.activeEditor.setContent($('#mycontent').val());
            // });
            $('#saveBtn').click(function () {
                $.post('/saveNonCodingContent',{data:tinymce.activeEditor.getContent(),solutionid:$('#solutionid').val(),problem:$('#problem').val(),problem_number:$('#problem_number').val(),problem_id:$('#problem_id').val()},function (data,status) {

                });

            });
            $('#submitBtn').click(function () {
                $.post('/saveNonCodingContent',{data:tinymce.activeEditor.getContent(),solutionid:$('#solutionid').val(),problem:$('#problem').val(),problem_number:$('#problem_number').val(),problem_id:$('#problem_id').val()},function (data,status) {

                });
                window.close();
            });
            $('#closeBtn').click(function () {
                window.close();
            });


        </script>
    </section><!-- #call-to-action -->





<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<div id="preloader"></div>

<!-- JavaScript Libraries -->
<script src="/static/lib/jquery/jquery.min.js"></script>
<script src="/static/lib/jquery/jquery-migrate.min.js"></script>
<script src="/static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/lib/easing/easing.min.js"></script>
<script src="/static/lib/superfish/hoverIntent.js"></script>
<script src="/static/lib/superfish/superfish.min.js"></script>
<script src="/static/lib/wow/wow.min.js"></script>
<script src="/static/lib/waypoints/waypoints.min.js"></script>
<script src="/static/lib/counterup/counterup.min.js"></script>
<script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/static/lib/isotope/isotope.pkgd.min.js"></script>
<script src="/static/lib/lightbox/js/lightbox.min.js"></script>
<script src="/static/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
<!-- Contact Form JavaScript File -->
<script src="/static/contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="/static/js/main.js"></script>
<script>
    function openForm() {
        document.getElementById("popupForm").style.display = "block";
    }
    function closeForm() {
        document.getElementById("popupForm").style.display = "none";
    }
</script>

</body>
</html>
