<!DOCTYPE html>
<html>
<head>

</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>






<form id="myform" method="post" action="/noncodinglabcontent">
    <textarea name="content"></textarea>
    <input type="hidden" id="solutionid" name="solutionid" value="<%= user_id.rid+'_'+user_id.problem_number+'_'+user_id.problem_id %>">
    <button type="submit" name="submit" id="submitBtn">Submit</button>
    <button type="button" name="save" id="saveBtn">Save</button>

</form>


<% if(user_id.data.length>0){ %>
<input type="hidden" value="<%= user_id.data %>" id="mycontent">
<% } else { %>
<input type="hidden" value="" id="mycontent">
<% } %>
<button id="btnbtnbtn">Get Data</button>



<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=ufu8tq5e5s5ako4ssb1inwj55g5c2jzfgzj53kdj6td9u4af"></script>
<script type="text/javascript">
    var cleanHTML = function(input) {
        console.log("BEFORE >");
        console.log(input);


        // 1. remove line breaks / Mso classes
        var stringStripper = /(\n|\r| class=(")?Mso[a-zA-Z]+(")?)/g;
        var output = input.replace(stringStripper, ' ');

        console.log("STEP 1 >");
        console.log(output);

        // 2. strip Word generated HTML comments
        var commentSripper = new RegExp('<!--(.*?)-->', 'g');
        var output = output.replace(commentSripper, '');

        console.log("STEP 2 >");
        console.log(output);

        // 3. remove tags leave content if any
        var tagStripper = new RegExp('<(\/)*(title|meta|link|span|\\?xml:|st1:|o:|font)(.*?)>', 'gi');
        output = output.replace(tagStripper, '');

        console.log("STEP 3 >");
        console.log(output);

        // 4. Remove everything in between and including tags '<style(.)style(.)>'
        var badTags = ['style', 'script', 'applet', 'embed', 'noframes', 'noscript'];

        for (var i = 0; i < badTags.length; i++) {
            var tagStripper = new RegExp('<' + badTags[i] + '.*?' + badTags[i] + '(.*?)>', 'gi');
            output = output.replace(tagStripper, '');
        }

        console.log("STEP 4 >");
        console.log(output);

        // A different attempt
        //output = (output).replace(/font-family\:[^;]+;?|font-size\:[^;]+;?|line-height\:[^;]+;?/g, '');

        // 5. remove attributes ' style="..."'
        var badAttributes = ['start', 'align'];
        for (var i = 0; i < badAttributes.length; i++) {
            var attributeStripper = new RegExp(' ' + badAttributes[i] + '="(.*?)"', 'gi');
            output = output.replace(attributeStripper, '');
        }

        console.log("STEP 5 >");
        console.log(output);

        return output;
    };

    tinymce.init({
        selector:'textarea',
        plugins: 'textcolor table paste',
        plugins: [
            "advlist autolink lists link image charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime media table contextmenu paste"
        ],
        //plugins: 'hr,image,link,contextmenu,emoticons,fullscreen,media,lists,paste,table,textcolor,charmap,compat3x,spellchecker,code',
        toolbar: ' formatselect | bold italic underline strikethrough | forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist | pastetext | custom_tooltip',
        convert_fonts_to_spans: true,
        paste_word_valid_elements: "b,strong,i,em,h1,h2,u,p,ol,ul,li,a[href],span,color,font-size,font-color,font-family,mark,table,tr,td",
        paste_retain_style_properties: "all",
        //paste_postprocess: function(plugin, args) {
        //    args.node.innerHTML = cleanHTML(args.node.innerHTML);
        //},
        setup: function(editor) {
            // Register tooltip button
            editor.addButton('custom_tooltip', {
                text: 'Tooltip',
                title: 'Add a tool tip to the selected text.',
                onclick: function() {
                    editor.windowManager.open({
                        title: 'Insert Tooltip',
                        body: [{
                            type: 'textbox',
                            name: 'tooltipText',
                            label: 'Tooltip Text',
                            value: ''
                        }],
                        onsubmit: function(e) {
                            var title = e.data.tooltipText;
                            var content = editor.selection.getContent();
                            editor.insertContent('<span class="tooltip" title="' + title + '">' + content + '</span>');
                        }
                    });
                }
            });
        }
    }).then(function () {
        this.tinymce.activeEditor.setContent($('#mycontent').val());
    });
</script>


<script>
    // $('#btnbtnbtn').click(function () {
    //     tinymce.activeEditor.setContent($('#mycontent').val());
    // });
    $('#saveBtn').click(function () {
       $.post('/saveNonCodingContent',{data:tinymce.activeEditor.getContent(),solutionid:$('#solutionid').val()},function (data,status) {

       });
    });
    $('#submitBtn').click(function () {
        $.post('/saveNonCodingContent',{data:tinymce.activeEditor.getContent(),solutionid:$('#solutionid').val()},function (data,status) {

        });
       window.close();
    });
</script>
</body>
</html>