<!doctype html>
<html lang="en">
<head>
    <% include commonHeadElements.html %>
    <% include sidebar.html %>
    <% include navbar.html %>

</head>
<body>





<!--yahaan se-->
<div class="wrapper ">
    <!--sidebar-->


    <div class="main-panel">

        <!-- Navbar -->

        <!-- End Navbar -->





        <div class="content">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="/labs">Labs</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><%= lab.labname %></li>
                </ol>
            </nav>

            <input type="hidden" value="<%= lab.id %>" id="labid">

            <div class="container-fluid">

                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">
                                <span style="font-size: 30px;">
                                    <% if(currentUser.role==2) { %>
                                    <i class="fa fa-eye"></i>
                                    <% } %>
                                    Practicals</span>
                                <% if(currentUser.role==2) { %>
                                <button class="pull-right btn btn-warning" data-target="#addLabModal" data-toggle="modal"> <i class="fa fa-plus"></i> </button>
                                <% } %>
                            </h4>
                            <p class="card-category"><%= lab.labname %></p>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-hover text-center">
                                <thead class="text-primary">
                                <th>#</th>
                                <th>Name</th>
                                <th>Code</th>
                                <th>View Problems</th>

                                <% if(currentUser.role==2) { %>
                                <th>Hide</th>
                                <th>Delete</th>
                                <% } %>

                                </thead>
                                <tbody>
                                <%  for(i in practicals) if(practicals[i].active==2) { %>
                                <tr>
                                    <td><%= parseInt(i)+1 %></td>
                                    <td><%= practicals[i].name %></td>
                                    <td>P-<%= practicals[i].id %></td>
                                    <td>
                                        <a href="<%= '/problems/'+practicals[i].id %>" class="btn btn-rose">
                                            <i class="fa fa-file"></i>
                                        </a>
                                    </td>

                                    <% if(currentUser.role==2) { %>
                                    <td>
                                        <form method="post" action="/hidep">
                                        <button class="btn btn-info" type="submit" name="pid" value="<%= practicals[i].id %>"><i class="fa fa-eye-slash"></i> </button>
                                        </form>
                                    </td>
                                    <td>
                                        <form method="post" action="/deletep">
                                            <button class="btn btn-danger" type="submit" name="pid" value="<%= practicals[i].id %>"><i class="fa fa-trash"></i> </button>
                                        </form>
                                    </td>
                                    <% } %>
                                </tr>
                                <% }%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <% if(currentUser.role==2){ %>
                <!--Hidden Problems-->
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">
                                <span style="font-size: 30px;"> <i class="fa fa-eye-slash"></i> Practicals</span>
                                <% if(currentUser.role==2) { %>
                                <button class="pull-right btn btn-warning" data-target="#addLabModal" data-toggle="modal"> <i class="fa fa-plus"></i> </button>
                                <% } %>
                            </h4>
                            <p class="card-category"><%= lab.labname %></p>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-hover text-center">
                                <thead class="text-primary">
                                <th>#</th>
                                <th>Name</th>
                                <th>Code</th>
                                <th>View Problems</th>

                                <% if(currentUser.role==2) { %>
                                <th>Show</th>
                                <th>Delete</th>
                                <% } %>

                                </thead>
                                <tbody>
                                <%  for(i in practicals) if(practicals[i].active==1) { %>
                                <tr>
                                    <td><%= parseInt(i)+1 %></td>
                                    <td><%= practicals[i].name %></td>
                                    <td>P-<%= practicals[i].id %></td>
                                    <td>
                                        <a href="<%= '/problems/'+practicals[i].id %>" class="btn btn-rose">
                                            <i class="fa fa-file"></i>
                                        </a>
                                    </td>


                                    <% if(currentUser.role==2) { %>
                                    <td>
                                        <form method="post" action="/showp">
                                            <button class="btn btn-success" type="submit" name="pid" value="<%= practicals[i].id %>"><i class="fa fa-eye"></i> </button>
                                        </form>
                                    </td>
                                    <td>
                                        <form method="post" action="/deletep">
                                            <button class="btn btn-danger" type="submit" name="pid" value="<%= practicals[i].id %>"><i class="fa fa-trash"></i> </button>
                                        </form>
                                    </td>
                                    <% } %>
                                </tr>
                                <% }%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <% } %>


            </div>
        </div>
    </div>
</div>

<% if(currentUser.role==2){ %>
<!-- Modal -->
<div class="modal fade" id="addLabModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="addpform" method="post" action="/addnewpractical" enctype="multipart/form-data">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Practical</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="visual-area">
                    <input type="hidden" name="labid" value="<%= lab.id %>">
                    <input type="text" name="practical" id="practical" placeholder="Enter Practical Name" class="form-control">
                    <br>
                    <label for="dump" class="form-control">Upload Dump File</label>
                    <input type="file" name="dump" placeholder="upload file here" class="form-control" id="dump">
                    <div class="form-check mt-4">
                        <label class="form-check-label" style="color: black">
                            <input class="form-check-input" name="multiple" type="checkbox" value="1">
                            <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                            Allow Multiple Submissions (For Practice Purpose)
                        </label>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="addLab">Add</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
            </form>
        </div>
    </div>
</div>
<% } %>

<!--yahaan tak-->

<% include commonFooterScriptElements.html %>

<script>
    $(document).ready(function () {
        // $('#addLab').click(function () {
        //     $.post('/addnewpractical',{labid:$('#labid').val(),practical:$('#practical').val() },function (data,status) {
        //         alert('New Practical Added Successfully');
        //         window.location.reload();
        //     });
        // });
    });
</script>
</body>
</html>