<!doctype html>
<html lang="en">
<head>
    <% include commonHeadElements.html %>
    <% include sidebar.html %>
    <% include navbar.html %>

</head>
<body>





<!--yahaan se-->
<div class="wrapper ">
    <!--sidebar-->


    <div class="main-panel">

        <!-- Navbar -->

        <!-- End Navbar -->





        <div class="content">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="/labs">Labs</a></li>
                    <li class="breadcrumb-item"><a href="/practicals/<%= meta.lid %>"> <%= meta.labname %> </a></li>
                    <li class="breadcrumb-item active" aria-current="page"><%= meta.pname %></li>
                </ol>
            </nav>

            <input type="hidden" value="<%= meta.lid %>" id="labid">
            <input type="hidden" value="<%= meta.pid %>" id="pid">
            <div class="container-fluid">

                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">
                                <span style="font-size: 30px;">Problems</span>
                                <% if(currentUser.role==2){ %>
                                <a class="pull-right btn btn-warning" href="/addproblem/<%= meta.pid %>"> <i class="fa fa-plus"></i> </a>
                                <% } else { %>
                                <button class="pull-right btn btn-secondary" id="openterminal"> <i class="fa fa-terminal"></i> </button>
                                <% } %>

                            </h4>
                            <p class="card-category"><%= meta.pname %></p>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-hover text-center">
                                <thead class="text-primary">
                                <th>#</th>
                                <th>Problem</th>
                                <th>Code</th>
                                <% if(currentUser.role==2){ %>
                                <th>Students</th>
                                <% } %>
                                </thead>
                                <tbody>
                                <% var i=0;  %>
                                <%  for(i=0;i<allproblems.length;++i) if(allproblems[i].st==1) { %>
                                <tr>
                                    <td><%= parseInt(i)+1 %></td>
                                    <td><%= allproblems[i].problem %></td>
                                    <td>Q-<%= allproblems[i].id %></td>
                                    <% if(currentUser.role==2){ %>
                                    <td>
                                        <a href="<%= '/pstatus/'+allproblems[i].id%>" class="btn btn-rose">
                                            <i class="fa fa-group"></i>
                                        </a>
                                    </td>
                                    <% } %>
                                </tr>
                                <% } else {%>
                                <tr>
                                    <td><%= parseInt(i)+1 %></td>
                                    <td><%= allproblems[i].problem %></td>
                                    <td>Q-<%= allproblems[i].id %></td>
                                    <% if(currentUser.role==2){ %>
                                    <td>
                                        <a href="<%= '/pstatus/'+allproblems[i].id%>" class="btn btn-rose">
                                            <i class="fa fa-group"></i>
                                        </a>
                                    </td>
                                    <% } %>
                                </tr>
                                <% break; } %>


                                <%  for(i=i+1;i<allproblems.length;++i) { %>
                                <tr>
                                    <td><%= parseInt(i)+1 %></td>
                                    <td>
                                        <% if(currentUser.role==2){ %>
                                        <%= allproblems[i].problem %>
                                        <% } else { %>
                                        <i class="fa fa-lock" rel="tooltip" title="Locked"></i>
                                        <%}%>
                                    </td>
                                    <td><% if(currentUser.role==2){ %>
                                        Q-<%= allproblems[i].id %>
                                        <% } else { %>
                                        <i class="fa fa-lock" rel="tooltip" title="Complete Previous To Unlock"></i>
                                        <%}%></td>
                                    <% if(currentUser.role==2){ %>
                                    <td>
                                        <a href="<%= '/pstatus/'+allproblems[i].id%>" class="btn btn-rose">
                                            <i class="fa fa-group"></i>
                                        </a>
                                    </td>
                                    <% } %>
                                </tr>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!--yahaan tak-->


<div style="display: none;">
    <form id="terminalform" action="/terminal" method="get" target="customWindow">
        <input type="hidden" name="pid" value="<%= meta.pid %>">
    </form>
</div>






<% include commonFooterScriptElements.html %>


<script>
    $(document).ready(function () {
        $('#openterminal').click(function () {
            window.open('', 'customWindow', 'width=700,height=380,toolbar=no,directories=no,menubar=no,resizable=no,location=no,addressbar=no');
            $('#terminalform').submit();
        });
    });
</script>


</body>
</html>