<!doctype html>
<html lang="en">
<head>
    <% include commonHeadElements.html %>
    <% include sidebar.html %>
    <% include navbar.html %>

</head>
<body>





<!--yahaan se-->
<div class="wrapper ">
    <!--sidebar-->


    <div class="main-panel">

        <div class="content">

            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Profile</li>
            </ol>
            </nav>



            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title">My Profile</h4>
                                <!--<p class="card-category">Complete your profile</p>-->
                            </div>
                            <div class="card-body">
                                <form method="post" action="/edit_profile" oninput='password2.setCustomValidity(password.value != password2.value ? "Passwords do not match." : "")'>


                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Name</label>
                                                <input type="text" name="name" value="<%= currentUser.name %>" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">E-mail</label>
                                                <input type="email" name="email" value="<%= currentUser.email %>" class="form-control">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Password</label>
                                                <input type="password" id="password" name="password" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Confirm Password</label>
                                                <input type="password" name="password2" class="form-control">
                                            </div>
                                        </div>
                                    </div>


                                    <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!--yahaan tak-->

<% include commonFooterScriptElements.html %>
</body>
</html>