<!doctype html>
<html lang="en">
<head>
    <% include commonHeadElements.html %>
    <% include sidebar.html %>
    <% include navbar.html %>
    <style>
        #sortbywa,#sortbyac,#sortbyname{
            cursor: pointer;
        }
    </style>
</head>
<body>





<!--yahaan se-->
<div class="wrapper ">
    <!--sidebar-->


    <div class="main-panel">

        <!-- Navbar -->

        <!-- End Navbar -->





        <div class="content">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item" aria-current="page"> <a href="/student">Students</a> </li>
                    <li class="breadcrumb-item" aria-current="page"> <a href="/practicals/<%= lab.id %>"> <%= lab.labname %> </a> </li>
                    <li class="breadcrumb-item active" aria-current="page">Q - <%= qname %></li>
                </ol>
            </nav>

            <div class="container-fluid">

                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">
                                <span style="font-size: 30px;">Students</span>
                                <a class="pull-right btn btn-warning" href="/labrequest" rel="tooltip" title="See Requests"> <i class="fa fa-plus"></i> </a>
                            </h4>
                            <!--<p class="card-category">New employees on 15th September, 2016</p>-->
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-hover text-center">
                                <thead class="text-primary">
                                <th>#</th>
                                <th id="sortbyname" rel="tooltip" title="Sort By Name">Name</th>
                                <th>Submission</th>
                                </thead>
                                <tbody>
                                <%  for(var i=0;i<students.length;++i) { %>
                                <tr>
                                    <td><%= parseInt(i)+1 %></td>
                                    <td><%= students[i].name %></td>
                                        <% if(students[i].status==1) { %>
                                    <td rel="tooltip" title="Correct Answer">   <i class="fa fa-check" style="color: green"></i></td>
                                        <% } else if (students[i].status==0){ %>
                                    <td rel="tooltip" title="Wrong Answer>  <i class="fa fa-times" style="color: red""></i></td>
                                        <% } else { %>
                                    <td rel="tooltip" title="Not Submitted">  <i class="fa fa-question" style="color:grey"></i></td>
                                        <% } %>
                                </tr>
                                <% }%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!--yahaan tak-->

<% include commonFooterScriptElements.html %>

<script>
    $(document).ready(function () {
        var asc1=false;
        function sortTable(table, order, col) {
            var asc  = order ;
            tbody = table.find('tbody');

            tbody.find('tr').sort(function(a, b) {
                if (asc) {
                    return $('td:nth-child('+col+')', a).text().localeCompare($('td:nth-child('+col+')', b).text());
                } else {
                    return $('td:nth-child('+col+')', b).text().localeCompare($('td:nth-child('+col+')', a).text());
                }
            }).appendTo(tbody);
        }
        $('#sortbyname').click(function () {
            sortTable($('table'),asc1,2);
            asc1 = !asc1;
        });
    });
</script>
</body>
</html>