<div class="sidebar" data-color="azure" data-background-color="white" data-image="/static/dashboard/assets/img/sidebar-1.jpg">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
          Hi,   <%= currentUser.name %>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <% if(page=='dashboard') { %>
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <% } else { %>
            <li class="nav-item ">
                <a class="nav-link" href="/dashboard">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <% } %>


            <% if(page=='profile') { %>
            <li class="nav-item active">
                <a class="nav-link" href="/profile">
                    <i class="material-icons">person</i>
                    <p>My Profile</p>
                </a>
            </li>
            <% } else { %>
            <li class="nav-item ">
                <a class="nav-link" href="/profile">
                    <i class="material-icons">person</i>
                    <p>My Profile</p>
                </a>
            </li>
            <% } %>




            <% if(page=='labs' ||  page=='practical') { %>
            <li class="nav-item active ">
                <a class="nav-link" href="/labs">
                    <i class="material-icons">content_paste</i>
                    <p>Labs</p>

                </a>
            </li>
            <% } else { %>
            <li class="nav-item ">
                <a class="nav-link" href="/labs">
                    <i class="material-icons">content_paste</i>
                    <p>Labs</p>

                </a>
            </li>
            <% } %>





            <% if(currentUser.role==2){ %>

            <% if(page=='student') { %>
            <li class="nav-item active">
                <a class="nav-link" href="/student">
                    <i class="fa fa-group"></i>
                    <p>Students</p>
                </a>
            </li>
            <% } else { %>
            <li class="nav-item ">
                <a class="nav-link" href="/student">
                    <i class="fa fa-group"></i>
                    <p>Students</p>
                </a>
            </li>
            <% } %>
            <% } %>



            <!--<% if(currentUser.role==2){ %>-->

            <!--<% if(page=='grade') { %>-->
            <!--<li class="nav-item active">-->
                <!--<a class="nav-link" href="/grade">-->
                    <!--<i class="fa fa-certificate"></i>-->
                    <!--<p>Grade</p>-->
                <!--</a>-->
            <!--</li>-->
            <!--<% } else { %>-->
            <!--<li class="nav-item ">-->
                <!--<a class="nav-link" href="/grade">-->
                    <!--<i class="fa fa-certificate"></i>-->
                    <!--<p>Grade</p>-->
                <!--</a>-->
            <!--</li>-->
            <!--<% } %>-->

            <!--<% } %>-->




            <!--<% if(page=='profile') { %>-->
            <!--<% } else { %>-->
            <!--<% } %>-->
            <!--<li class="nav-item ">-->
                <!--<a class="nav-link" href="./notifications.html">-->
                    <!--<i class="material-icons">notifications</i>-->
                    <!--<p>Notifications</p>-->
                <!--</a>-->
            <!--</li>-->


            <% if(currentUser.role==1) { %>
            <% if(page=='mydumps') { %>
            <li class="nav-item active">
                <a class="nav-link" href="/mydumps">
                    <i class="fa fa-terminal"></i>
                    <p>My Database</p>
                </a>
            </li>
            <% } else { %>
            <li class="nav-item ">
                <a class="nav-link" href="/mydumps">
                    <i class="fa fa-terminal"></i>
                    <p>My Database</p>
                </a>
            </li>
            <% } %>
            <% } %>



        </ul>
    </div>
</div>