<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/static/login/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/login/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="/static/login/css/main.css">
    <!--===============================================================================================-->
</head>
<body>


<div class="container-login100" style="background-image: url('/static/login/images/bg-01.jpg');">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-30 p-b-30">
        <form class="login100-form validate-form" method="post" action="/signup">
            <div class="text-center mb-3" style="font-size: 25px">
                <% try{ if(msg) %> <%= msg %> <% }catch(e){} %>
            </div>


				<span class="login100-form-title p-b-37">
					Sign Up
				</span>

            <div class="wrap-input100 validate-input m-b-20" data-validate="Enter Full Name">
                <select class="dropdown-item dropdown-header input-group input100" name="role">
                    <option value="0">Select User Type</option>
                    <option value="1">Student</option>
                    <option value="2">Faculty</option>
                </select>
            </div>


            <div class="wrap-input100 validate-input m-b-20" data-validate="Enter Full Name">
                <input class="input100" type="text" name="name" placeholder="Name">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-20" data-validate="Enter E-mail">
                <input class="input100" type="text" name="email" placeholder="E-mail">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter Password">
                <input class="input100" type="password" name="password" placeholder="Password">
                <span class="focus-input100"></span>
            </div>

            <div class="container-login100-form-btn">
                <button type="submit" class="login100-form-btn">
                    Sign Up
                </button>
            </div>

            <div class="text-center p-t-57 p-b-20">
					<span class="txt1">
						Already a User ?
                        <a href="/login">Login Here</a>
					</span>
            </div>
        </form>


    </div>
</div>



<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="/static/login/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/static/login/vendor/animsition//static/login/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="/static/login/vendor/bootstrap//static/login/js/popper.js"></script>
<script src="/static/login/vendor/bootstrap//static/login/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/static/login/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="/static/login/vendor/daterangepicker/moment.min.js"></script>
<script src="/static/login/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="/static/login/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="/static/login/js/main.js"></script>

</body>
</html>