<!doctype html>
<html lang="en">
<head>
    <% include commonHeadElements.html %>
    <% include sidebar.html %>
    <% include navbar.html %>

</head>
<body>





<!--yahaan se-->
<div class="wrapper ">
    <!--sidebar-->


    <div class="main-panel">

        <!-- Navbar -->

        <!-- End Navbar -->





        <div class="content">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Students</li>
                </ol>
            </nav>

            <div class="container-fluid">

                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">
                                <span style="font-size: 30px;">Students</span>
                                <a class="pull-right btn btn-warning" href="/labrequest"> <i class="fa fa-plus"></i> </a>
                            </h4>
                            <!--<p class="card-category">New employees on 15th September, 2016</p>-->
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-hover">
                                <thead class="text-primary">
                                <th>#</th>
                                <th>Name</th>
                                <th style="color: green;">AC</th>
                                <th style="color: red;">WA</th>

                                </thead>
                                <tbody>
                                <%  for(i in student) { %>
                                <tr>
                                    <td><%= parseInt(i)+1 %></td>
                                    <td><%= student[i].name %></td>
                                    <td> <%= student[i].correct %> </td>
                                    <td> <%= parseInt(student[i].total)-parseInt(student[i].correct) %> </td>
                                </tr>
                                <% }%><!doctype html>
                                <html lang="en">
                                <head>
                                    <% include commonHeadElements.html %>
                                    <% include sidebar.html %>
                                    <% include navbar.html %>

                                </head>
                                <body>





                                <!--yahaan se-->
                                <div class="wrapper ">
                                    <!--sidebar-->


                                    <div class="main-panel">

                                        <!-- Navbar -->

                                        <!-- End Navbar -->





                                        <div class="content">

                                            <nav aria-label="breadcrumb">
                                                <ol class="breadcrumb">
                                                    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                                                    <li class="breadcrumb-item active" aria-current="page">Students</li>
                                                </ol>
                                            </nav>

                                            <div class="container-fluid">

                                                <div class="col-lg-12 col-md-12">
                                                    <div class="card">
                                                        <div class="card-header card-header-primary">
                                                            <h4 class="card-title">
                                                                <span style="font-size: 30px;">Students</span>
                                                            </h4>
                                                            <!--<p class="card-category">New employees on 15th September, 2016</p>-->
                                                        </div>
                                                        <div class="card-body table-responsive">
                                                            <table class="table table-hover">
                                                                <thead class="text-primary">
                                                                <th>#</th>
                                                                <th>Name</th>
                                                                <th>See Status</th>
                                                                </thead>
                                                                <tbody>
                                                                <%  for(i in students) { %>
                                                                <tr>
                                                                    <td><%= parseInt(i)+1 %></td>
                                                                    <td><%= students[i].name %></td>
                                                                    <td>
                                                                        <a href="<%= '/students/'+students[i].id %>" class="btn btn-primary">
                                                                            <i class="fa fa-file"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <% }%>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>





                                <!--yahaan tak-->

                                <% include commonFooterScriptElements.html %>

                                <script>

                                </script>
                                </body>
                                </html>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!--yahaan tak-->

<% include commonFooterScriptElements.html %>

</body>
</html>