<!doctype html>
<html lang="en">
<head>
    <% include commonHeadElements.html %>
    <% include sidebar.html %>
    <% include navbar.html %>
    <style>
        #sortbywa,#sortbyac,#sortbyname{
            cursor: pointer;
        }
    </style>
</head>
<body>





<!--yahaan se-->
<div class="wrapper ">
    <!--sidebar-->


    <div class="main-panel">

        <!-- Navbar -->

        <!-- End Navbar -->





        <div class="content">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Students
                    &nbsp;
                        <i class="fa fa-download" rel="tooltip" title="Download Report" style="cursor: pointer" id="genreport"></i>
                    </li>

                </ol>
            </nav>

            <div class="container-fluid">

                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">
                                <span style="font-size: 30px;">Students</span>
                                <a class="pull-right btn btn-warning" href="/labrequest" rel="tooltip" title="See Requests"> <i class="fa fa-plus"></i> </a>
                            </h4>
                            <!--<p class="card-category">New employees on 15th September, 2016</p>-->
                        </div>
                        <div class="card-body table-responsive">
                            <table id="myTable" class="table table-hover text-center">
                                <thead class="text-primary">
                                <th>#</th>
                                <th id="sortbyname" rel="tooltip" title="Sort By Name">Name</th>
                                <th id="sortbyac" style="color: green"  rel="tooltip" title="Sort By Correct Anwer">AC</th>
                                <th id="sortbywa" style="color: red"  rel="tooltip" title="Sort By Wrong Answer">WA</th>
                                <th>See Status</th>
                                </thead>
                                <tbody>
                                <% var j = 0; %>
                                <%  for(var i=0;i<students.length;++i) { %>
                                <tr>
                                    <td><%= parseInt(i)+1 %></td>
                                    <td><%= students[i].name %></td>
                                    <td style="color: green">
                                        <% if(status[j]) { %>
                                        <%= parseInt(status[j].correct) %>
                                        <% } else { %>
                                        0
                                        <% } %>
                                    </td>
                                    <td style="color: red">
                                        <% if(status[j]) { %>
                                        <%= parseInt(status[j].total)-parseInt(status[j].correct) %>
                                        <% ++j; } else { %>
                                        0
                                        <% } %>

                                    </td>
                                    <td>
                                        <a href="<%= '/students/'+students[i].id %>" class="btn btn-primary">
                                            <i class="fa fa-file"></i>
                                        </a>
                                    </td>
                                </tr>
                                <% }%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function fnExcelReport()
    {
        var tab_text="<table border='2px'><tr bgcolor='#87AFC6'>";
        var textRange; var j=0;
        tab = document.getElementById('myTable'); // id of table

        for(j = 0 ; j < tab.rows.length ; j++)
        {
            tab_text=tab_text+tab.rows[j].innerHTML+"</tr>";
        }

        tab_text=tab_text+"</table>";
        tab_text= tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
        tab_text= tab_text.replace(/<img[^>]*>/gi,""); // remove if u want images in your table
        tab_text= tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");

        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
        {
            txtArea1.document.open("txt/html","replace");
            txtArea1.document.write(tab_text);
            txtArea1.document.close();
            txtArea1.focus();
            sa=txtArea1.document.execCommand("SaveAs",true,"Student.xls");
        }
        else                 //other browser not tested on IE 11
            sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));

        return (sa);
    }
</script>

<iframe id="txtArea1" style="display:none"></iframe>
<!--<button id="btnExport" onclick="fnExcelReport();"> EXPORT </button>-->


<!--yahaan tak-->

<% include commonFooterScriptElements.html %>







<script>
    $(document).ready(function () {
        var asc1 = false;
        var asc2 = false;
        var asc3 = false;

        function sortTable(table, order, col) {
            var asc = order;
            tbody = table.find('tbody');

            tbody.find('tr').sort(function (a, b) {
                if (asc) {
                    return $('td:nth-child(' + col + ')', a).text().localeCompare($('td:nth-child(' + col + ')', b).text());
                } else {
                    return $('td:nth-child(' + col + ')', b).text().localeCompare($('td:nth-child(' + col + ')', a).text());
                }
            }).appendTo(tbody);
        }

        $('#sortbyname').click(function () {
            sortTable($('table'), asc1, 2);
            asc1 = !asc1;
        });
        $('#sortbyac').click(function () {
            sortTable($('table'), asc2, 3);
            asc2 = !asc2;
        });
        $('#sortbywa').click(function () {
            sortTable($('table'), asc3, 4);
            asc3 = !asc3;
        });

        $('#genreport').click(function () {
            fnExcelReport();
        });



    });

</script>

</body>
</html>