<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Dashboard</title>

    <!-- Bootstrap core CSS-->
    <link href="/static/new/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="/static/new/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="/static/new/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/new/css/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top">

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="/">Digilab</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <!--<form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">-->
    <!--<div class="input-group">-->
    <!--<input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">-->
    <!--<div class="input-group-append">-->
    <!--<button class="btn btn-primary" type="button">-->
    <!--<i class="fas fa-search"></i>-->
    <!--</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</form>-->

    <!--Navbar -->
    <!--<ul class="navbar-nav ml-md-0">-->

    <!--<li class="nav-item dropdown no-arrow mx-1 float-right">-->
    <!--<a class="nav-link dropdown-toggle float-right" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
    <!--<i class="fas fa-bell fa-fw float-right"></i>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li class="nav-item dropdown no-arrow mx-1 float-right">-->
    <!--<a class="nav-link dropdown-toggle float-right" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
    <!--<i class="fas fa-envelope fa-fw float-right"></i>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li class="nav-item dropdown no-arrow float-right">-->
    <!--<a class="nav-link dropdown-toggle float-right" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
    <!--<i class="fas fa-user-circle fa-fw float-right"></i>-->
    <!--</a>-->
    <!--</li>-->
    <!--</ul>-->

</nav>

<div id="wrapper">
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/uinfo">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>



        <% var role =  currentUser.role_name %>


        <% if(role == "student") { %>

        <li class="nav-item">
            <a class="nav-link" href="" data-target="#requestLabModal" data-toggle="modal">
                <i class="fas fa-fw fa-plus"></i>
                <span>Lab</span></a>
        </li>

        <% } %>

        <% if(role == "teacher" || role == "admin") { %>

        <li class="nav-item">
            <a class="nav-link" href="/addlab">
                <i class="fas fa-fw fa-plus"></i>
                <span>Lab</span></a>
        </li>

        <% } %>

        <li class="nav-item">
            <a class="nav-link" href="/logout">
                <i class="fas fa-fw fa-info"></i>
                <span>Logout</span></a>
        </li>

    </ul>

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/uinfo">Dashboard</a>
                </li>
                <li class="breadcrumb-item"><%= lab_name %></li>
                <li class="breadcrumb-item active">Problems</li>
            </ol>

            <!-- Icon Cards-->
            <div class="row">
                <div class="col-xl-12 col-sm-12 mb-3">
                    <div class="card text-white bg-primary o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-comments"></i>
                            </div>
                        </div>
                        <span class="card-footer text-white clearfix large z-1" href="#">

                            <div class="table-responsive">
                                <table class="table table-hover text-center  text-light">
                                    <thead>
                                        <tr>
	                                          <th><B>Student ID</B></th>
                                            <th>Student</th>
                                            <th>Submission</th>
                                        </tr>
                                    </thead>
<%  for(var i in studentslist) { %>
    <tr>
    <td> <%= studentslist[i].user_id %> </td>
    <td> <%= studentslist[i].user_name %></td>
    <td> <button class = "problem_list btn btn-light" value ="" lab_type="<%= lab_type %>" user-id="<%= studentslist[i].user_id %>"> <i class="fa fa-file" style="color: black"></i> </button></td>
    </tr>
    <% } %>
 <%  for(var i in studentslist2) { %>
    <tr>
    <td> <%= studentslist2[i].user_id %> </td>
    <td> <%= studentslist2[i].user_name %></td>
    <td> <button class = "problem_list btn btn-light" value ="" lab_type="<%= lab_type %>" user-id="<%= studentslist2[i].user_id %>"> <i class="fa fa-file" style="color: black"></i> </button></td>
    </tr>
    <% } %>

                                    </tbody>
                                </table>


                  </span>
                        </span>
                    </div>
                </div>

            </div>
        </div>



    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Modal -->
<div class="modal fade" id="requestLabModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Lab</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="visual-area">
                    <div id="visual-area2">

                    </div>
                    <input type="text" id="rlabcode" placeholder="Enter Lab Code" class="form-control">
                    <label class="form-control" id="req_lab_name" style="display: none;"></label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" id="addlabBtn">Submit</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/static/new/vendor/jquery/jquery.min.js"></script>
<script src="/static/new/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/static/new/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="/static/new/vendor/chart.js/Chart.min.js"></script>
<script src="/static/new/vendor/datatables/jquery.dataTables.js"></script>
<script src="/static/new/vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for all pages-->
<script src="/static/new/js/sb-admin.min.js"></script>

<!-- Demo scripts for this page-->
<script src="/static/new/js/demo/datatables-demo.js"></script>
<script src="/static/new/js/demo/chart-area-demo.js"></script>


<script>
    $(document).ready(function()
    {
        $(".problem_list").click(function(event){
            var a = $("#fetchproblemlist");
            a.children()[0].value=$(event.target).attr('user-id');
            a.children()[2].value=$(event.target).attr('lab_type');
            $("#fetchproblemlist").submit();

        });
    });
</script>

<form id="fetchproblemlist" action="/problemlistofstudent" method = "POST">
    <input id ="user__id" type="hidden" name="user_id" value="" />
    <input id = "lab__id" type="hidden" name ="lab_id" value="<%= lab_id %>" />
    <input id = "lab_type" type="hidden" name ="lab_type" value="<%= lab_id %>" />

    <input id = "section_" type="hidden" name ="section" value="<%= section %>" />
</form>

</body>

</html>