<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MYSQL</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://unpkg.com/jquery.terminal/js/jquery.terminal.min.js"></script>
    <link href="https://unpkg.com/jquery.terminal/css/jquery.terminal.min.css" rel="stylesheet"/>
</head>
<body>
<% if(currentUser.ttype){ %>
<input type="hidden" id="ttype" value="<%= currentUser.ttype %>">
<% } else { %>
<input type="hidden" id="ttype" value="0">
<% } %>
<input type="hidden" id="qid" value="0">

<script>


    $(function() {
        $('body').terminal(function(command, term) {
            command = command.replace(/\s\s+/g, ' ');
            command = command.replace(/;+/g, '');
            if (command == 'exit') window.close();
            else if(command.toString().split(' ')[0] === 'submit'){
                $('#qid').val(command.toString().split(' ')[1].split('-')[1]);
                return command.toString().split(' ')[1]+' Selected !!';
            }
            else return  $.post('/doQuery', {query: command,ttype: $('#ttype').val(),qid:$('#qid').val() });
        }, {
            greetings: 'Welcome to MYSQL !!\nDeveloped By Ankit Agrawal'
        });
    });
    $(document).on('contextmenu', function(e) {
        e.preventDefault();
    });
    $(window).keydown(function (event) {
        if(event.keyCode == 123){
           // return false;
        }
        else if(event.ctrlKey && event.shiftKey && event.keyCode==73){
          //  return false;
        }
    });


    $(window).on("beforeunload", function() {
        $.post('/dropdb',{},function (data,status) {
            alert('Bye');
        });
    });

    $(window).on("beforeunload", function() {
        return confirm("Do you really want to close?");
    });

    window.addEventListener("beforeunload", function (event) {
        // Cancel the event as stated by the standard.
        event.preventDefault();
        // Chrome requires returnValue to be set.
        event.returnValue = 'Close ?';
    });


</script>


</body>
</html>