<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Dashboard</title>

    <!-- Bootstrap core CSS-->
    <link href="/static/new/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="/static/new/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="/static/new/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/new/css/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top">

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="index.html">Digilab</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <!--<form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">-->
    <!--<div class="input-group">-->
    <!--<input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">-->
    <!--<div class="input-group-append">-->
    <!--<button class="btn btn-primary" type="button">-->
    <!--<i class="fas fa-search"></i>-->
    <!--</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</form>-->

     <!--Navbar -->
    <!--<ul class="navbar-nav ml-md-0">-->

    <!--<li class="nav-item dropdown no-arrow mx-1 float-right">-->
    <!--<a class="nav-link dropdown-toggle float-right" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
    <!--<i class="fas fa-bell fa-fw float-right"></i>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li class="nav-item dropdown no-arrow mx-1 float-right">-->
    <!--<a class="nav-link dropdown-toggle float-right" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
    <!--<i class="fas fa-envelope fa-fw float-right"></i>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li class="nav-item dropdown no-arrow float-right">-->
    <!--<a class="nav-link dropdown-toggle float-right" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
    <!--<i class="fas fa-user-circle fa-fw float-right"></i>-->
    <!--</a>-->
    <!--</li>-->
    <!--</ul>-->

</nav>

<div id="wrapper">
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-keyboard"></i>
                <span>Labs</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                <% for(var i in labinfo.labinfo.labs) { %>
                <a class="dropdown-item" href="/lab/<%= eval(JSON.stringify(labinfo.labinfo.labs[i].lab_name)) %>/"><%= eval(JSON.stringify(labinfo.labinfo.labs[i].lab_name)) %></a>
                <% } %>
                <% for(var i in free_labs) { %>
                <a class="dropdown-item" href="/lab/<%= free_labs[i].lab_name %>/"><%= free_labs[i].lab_name %></a>
                <% } %>
            </div>
        </li>

        <% var role =  currentUser.role_name %>



        <% if(role == "student") { %>

        <li class="nav-item">
            <a class="nav-link" href="" data-target="#requestLabModal" data-toggle="modal">
                <i class="fas fa-fw fa-plus"></i>
                <span>Lab</span></a>
        </li>

        <% } %>

        <% if(role == "teacher" || role == "admin") { %>

        <li class="nav-item">
            <a class="nav-link" href="/addlab">
                <i class="fas fa-fw fa-plus"></i>
                <span>Lab</span></a>
        </li>

        <% } %>

        <li class="nav-item">
            <a class="nav-link" href="/edit_profile">
            <i class="fas fa-fw fa-pencil-alt"></i>
            <span>Profile</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/logout">
                <i class="fas fa-fw fa-power-off"></i>
                <span>Logout</span></a>
        </li>

    </ul>

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
            </ol>

            <!-- Icon Cards-->
            <div class="row">
                <div class="col-xl-6 col-sm-12 mb-3">
                    <div class="card text-white bg-primary o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-comments"></i>
                            </div>
                            <div class="mr-5">My Profile</div>
                        </div>
                        <span class="card-footer text-white clearfix large z-1" href="#">
                            <!--<span class="float-left">View Details</span>-->
                            <%if (currentUser) { %>


                <% if(role == "student") { %>
                            <span class="float-left">University ID &nbsp;&nbsp;: <%= currentUser.user_id %></span>
                            <br>
                            <span class="float-left">Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <%= currentUser.user_name %></span>


                <% } %>

                <% if(role == "teacher") { %>

                            <span class="float-left">University ID : <%= currentUser.user_id %> </span><br>
                            <span class="float-left">Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <%= currentUser.user_name %></span><br>
                <% } %>

                <% if(role == "admin") { %>
                            <span class="float-left">University ID : <%= currentUser.user_id %></span><br>
                            <span class="float-left">Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <%= currentUser.user_name %></span><br>
                <% } %>



                <% } else {%>
                <a class="btn-u" href="/signup">Sign Up</a>
                <a class="btn-u" href="/login" style="margin-left: 20px;">Login</a>


                <% } %>

                  </span>
                        </span>
                    </div>
                </div>

            </div>
        </div>

        <!--</div>-->
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <!--<footer class="sticky-footer">-->
        <!--<div class="container my-auto">-->
        <!--<div class="copyright text-center my-auto">-->
        <!--<span>Copyright © Your Website 2018</span>-->
        <!--</div>-->
        <!--</div>-->
        <!--</footer>-->

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<!--<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog" role="document">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>-->
                <!--<button class="close" type="button" data-dismiss="modal" aria-label="Close">-->
                    <!--<span aria-hidden="true">×</span>-->
                <!--</button>-->
            <!--</div>-->
            <!--<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>-->
            <!--<div class="modal-footer">-->
                <!--<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>-->
                <!--<a class="btn btn-primary" href="login.html">Logout</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<!-- Modal -->
<div class="modal fade" id="requestLabModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Lab</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="visual-area">
                    <div id="visual-area2">

                    </div>
                    <input type="text" id="rlabcode" placeholder="Enter Lab Code" class="form-control">
                    <label class="form-control" id="req_lab_name" style="display: none;"></label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" id="addlabBtn">Submit</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/static/new/vendor/jquery/jquery.min.js"></script>
<script src="/static/new/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/static/new/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="/static/new/vendor/chart.js/Chart.min.js"></script>
<script src="/static/new/vendor/datatables/jquery.dataTables.js"></script>
<script src="/static/new/vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for all pages-->
<script src="/static/new/js/sb-admin.min.js"></script>

<!-- Demo scripts for this page-->
<script src="/static/new/js/demo/datatables-demo.js"></script>
<script src="/static/new/js/demo/chart-area-demo.js"></script>


<script>
    $(document).ready(function () {
        var flag = false;
        $('#rlabcode').keyup(function (event) {
            $.post('/getlabname',{labcode:$(this).val()},function (data,status) {
                if (data.flag==1){
                    console.log('data mila');
                    $('#req_lab_name').html(data.labname);
                    $('#req_lab_name').css({"display":"block"});
                    flag=true;
                }
                else{
                    $('#req_lab_name').css({"display":"none"});
                }
            }) ;
        });



        $('#addlabBtn').click(function () {
            if(flag){
                $.post('/enroll',{labcode:$('#rlabcode').val()},function (data,status) {
                    $('#requestLabModal').modal('toggle');
                    alert('Request Sent Successfully...!!\nWait For Response');
                });
            }
        });
    });

</script>


</body>

</html>
